---
import BaseLayout from '@layouts/BaseLayout.astro';

const notes = (await Astro.glob('./*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const title = 'Notes'
const desc = 'Quick notes, instructions and copies of my GitHub gists.'
---

<style scoped>
p {
  margin-bottom: 4em;
}
.notes-li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat();
  gap: 10px;
  margin: 0 auto 2em -2em;
  padding: 0 auto;
}
.notes-dates {  
  margin: 0;
  padding: 0;
  width: 5.75em;
  text-align: right;
}
.notes-title {
  width: auto;
  text-align: left;
}
.notes-bottom {
  margin: 0 auto;
}
@media screen and (min-width: 200px) and (max-width: 667px) {
  .notes-dates {
    padding-top: 0.1em;
    font-size: 0.75em;
    width: 5.75em;
  }
}
</style>

<BaseLayout title={title} description={desc}>
	<section>
		<h1>{title}</h1>
		<hr>
    <p>
      Quick notes, instructions and copies of my GitHub gists. Most are short and terse compared to a blog post.
    </p>
		{notes.map((note) => (
        <ul>
          <li class="notes-li">
            <div class="notes-dates">
              <time datetime={note.frontmatter.pubDate}>
                {new Date(note.frontmatter.pubDate).toLocaleDateString('en-us', {
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric',
                })}
              </time>
            </div>
            <div class="notes-title">
              <a href={note.url}>
                <span>{note.frontmatter.title}</span>
              </a>
            </div>
          </li>
        </ul>
		))}
		<hr class="notes-bottom">
		<aside>
			<a href="#top" class="top button notes-tag">Back to Top &uarr;</a>
		</aside>
		</section>
</BaseLayout>