---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import BackToTop from "@components/BackToTop.astro";
import type { Page } from "astro";

export async function getStaticPaths({ paginate }) {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );
  return paginate(posts, { pageSize: 5 });
}

interface Props {
  page: Page<CollectionEntry<'blog'>>;
}

const { page } = Astro.props;

const title = `Blog Posts - Page ${page.currentPage} of ${page.lastPage}`;
const desc = "List of all blog posts";
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  .blurb {
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  li:last-of-type {
    margin-bottom: 0;
  }
  div {
    display: block;
    padding-bottom: 0.25em;
    border-bottom: 2px solid transparent;
  }
  p {
    margin: 0 auto 0.125em auto;
    padding: 0 auto;
  }
  button {
    margin: 0 0.175em;
    background: var(--info);
    cursor: pointer;
  }
  button:first-of-type {
    margin-left: 0;
  }
  .info {
    margin-top: 0.1em;
    display: inline-flex;
  }
  .title {
    display: block;
    font-weight: bold;
    line-height: 1.2;
  }
  .title a,
  .title a:active,
  .title a:visited {
    color: var(--primary);
  }
  .title a:hover {
    color: var(--hover);
  }
  li:hover div {
    border-bottom: 2px solid var(--hover);
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  li:hover .title {
    color: var(--hover);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  @media (hover: hover) {
    li:hover button {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
    }
    li:hover button {
      outline-offset: 1px;
    }
    button {
      text-overflow: ellipsis;
      -webkit-transition: all .10s ease-out;
      -moz-transition: all .10s ease-out;
      -o-transition: all .10s ease-out;
      transition: all .10s ease-out;
      cursor: pointer;
    }
    button:hover {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px,4px);
      cursor: pointer;
    }
    button:focus-visible{
      outline-offset: 1px;
    }
}
  .page-info {
    display: flex;
    font-weight: 500;
    margin: 1em auto -1.7em auto;
    justify-content: space-around;
    place-items: center;
    font-family: var(--sub-font);
    font-weight: 500;
    color: var(--primary);
  }
  .pagination {
    display: grid;
    justify-content: space-between;
    font-family: var(--sub-font);
    font-weight: 500;
    margin: 0 0 1em 0;
  }
  .pagination a {
    border-bottom: 2px solid transparent;
  }
  .pagination a:hover {
    border-bottom: 2px solid var(--hover);
  }
  .prev {
    grid-column: 1;
    justify-content: start;
  }
  .next {
    grid-column: 3;
    justify-content: end;
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    section {
      line-height: 1.2;
    }
    .info {
      display: block;
      margin-bottom: 0.25em;
    }
    .tag {
      display: block;
    }
    .page-info {
      margin: 1em auto 0 auto;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>Blog</h1>
    <hr />
    <p class="blurb">
      List of all blog posts. Alternatively, see <a href="/categories/" data-umami-event="blog-category">see posts by category</a> or <a href="/search/" data-umami-event="blog-search">search for specific posts</a>.
    </p>
    <ul>
      {
        page.data.map((post) => (
          <li>
            <div>
              <a href={`/blog/${post.id}/`} rel="prefetch-intent" data-umami-event={post.id}>
                <span class="title">{post.data.title}</span>
                <p class="info">
                  <FormattedDate date={post.data.pubDate} />&nbsp;
                  <span class="tag">
                    {post.data.tags.map((tag) => (
                      <button>{tag}</button>
                    ))}
                  </span>
                </p>
                <p class="desc">{post.data.description}</p>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
    
    <div class="page-info">Page {page.currentPage} of {page.lastPage}</div>
    <nav class="pagination" aria-label="Blog pagination">
      <span class="prev">
        {page.url.prev ? (
          <a href={page.url.prev} rel="prev">&larr; Newer</a>
        ) : (
          <span></span>
        )}
      </span>
      <span class="next">
        {page.url.next ? (
          <a href={page.url.next} rel="next">Older &rarr;</a>
        ) : (
          <span></span>
        )}
      </span>
    </nav>
    <hr />
    <BackToTop />
  </section>
</BaseLayout>
