---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import BackToTop from "@components/BackToTop.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const title = "Blog";
const desc = "List of all blog posts";
---

<style scoped>
  h1 {
    font-family: "M Plus Rounded 1c Reg";
  }
  .blurb {
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
    margin: 0 auto 0 -1.5em;
  }
  li {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  div {
    padding-bottom: 0.25em;
    border-bottom: 2px solid transparent;
  }
  p {
    margin: 0 auto 0.125em auto;
    padding: 0 auto;
  }
  button {
    margin: 0 0.175em;
    background: var(--info);
    cursor: pointer;
  }
  button:first-of-type {
    margin-left: 0;
  }
  .title a,
  .title a:active,
  .title a:visited {
    color: var(--primary);
  }
  .title a:hover {
    color: var(--hover);
  }
  li:hover div {
    border-bottom: 2px solid var(--hover);
    cursor: pointer;
  }
  li:hover .title {
    color: var(--hover);
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    section {
      line-height: 1.2;
    }
    .info {
      margin-bottom: 0.25em;
    }
    .tag {
      display: block;
      margin-top: 0.25em;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p class="blurb">
      List of all blog posts. Alternatively, see <a href="/categories/" data-umami-event="blog-category">see posts by category</a> or <a href="/search/" data-umami-event="blog-search">search for specific posts</a>.
    </p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <div>
              <a href={`/blog/${post.id}/`} rel="prefetch-intent" data-umami-event={post.id}>
                <span class="title">{post.data.title}</span>
                <p class="info">
                  <FormattedDate date={post.data.pubDate} />&nbsp;
                  <span class="tag">
                    {post.data.tags.map((tag) => (
                      <button>{tag}</button>
                    ))}
                  </span>
                </p>
                <p class="desc">{post.data.description}</p>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
    <hr />
    <BackToTop />
  </section>
</BaseLayout>
