---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const title = "Blog";
const desc = "List of all blog posts";
---

<style scoped>
  h1 {
    font-family: "M Plus Rounded 1c Reg";
  }
  .blurb {
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
    margin: 0 auto 0 -1.5em;
  }
  li {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  div {
    padding-bottom: 0.25em;
    border-bottom: 2px solid transparent;
  }
  span, p {
    margin: 0 auto;
    padding: 0 auto;
  }
  .date {
    margin: 0;
    padding: 0;
  }
  .title {
    margin: 0 auto;
  }
  .title a,
  .title a:active,
  .title a:visited {
    color: var(--primary);
  }
  .title a:hover {
    color: var(--hover);
  }
  li:hover div {
    border-bottom: 2px solid var(--hover);
    cursor: pointer;
  }
  li:hover .title {
    color: var(--hover);
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    .title {
      font-size: 20px;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p class="blurb">
      List of all blog posts. Alternatively, see <a href="/categories/" data-umami-event-name="{blog-category}">see posts by category</a> or <a href="/search/" data-umami-event-name="{blog-search}">search for specific posts</a>.
    </p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <div>
              <a href={`/blog/${post.slug}/`} rel="prefetch-intent" data-umami-event-name="{blog-post}">
                <span class="title">{post.data.title}</span>
                <p><FormattedDate date={post.data.pubDate} /></p>
                <p class="desc">{post.data.description}</p>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
    <hr />
    <aside>
      <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
    </aside>
  </section>
</BaseLayout>
