---
import BaseLayout from "../../layouts/BaseLayout.astro";

import {generateTagsData} from '../../utils/tags.js'
const allPosts = await Astro.glob('../blog/*.{md,mdx}');
const allTagsUnique = new Set();
allPosts.forEach(post => {
  post.frontmatter.tags && post.frontmatter.tags.map(tag => {
    allTagsUnique.add(tag);
  })
})

const allTagsData = generateTagsData(allTagsUnique);
const title = 'Categories'
const desc = 'Blog posts by category tag.'
---

<BaseLayout title={title} description={desc}>
	<style>
		ol, ul {
			list-style-type: none;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			justify-content: space-around;
			margin: 2.5em auto 0 auto;
			padding: 0;
		}
		li {
			margin: 0 auto 1em 0;
			padding: 0;
			font-size: 1.25em;
			border-radius: 0.25em;
		}
		li a,  li a:active, li a:visited {
			color: var(--text);
		}
		li a:hover, a:focus {
			color: var(--secondary);
		}
		li a {
  		position: relative;
		}
		li a::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			border-radius: 4px;
			background-color: var(--secondary);
			bottom: 0;
			left: 0;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform .3s ease-in-out;
		}
		li a:hover::before {
			transform-origin: left;
			transform: scaleX(1);
		}
		hr {
			margin-bottom: 2em;
		}
		.bottom-line {
			margin-top: 2em;
		}
		h1 {
			font-size: 36px;
			margin-top: 1.9em;
			margin-bottom: 0;
		}
		@media screen and (min-width: 200px) and (max-width: 650px) {
			h1 {
				font-size: 36px;
				margin-top: 1.575em;
			}
			ol, ul {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
		}
	</style>
	<section>
		<h1>{title}</h1>
		<hr>
		<ul>
			{allTagsData.map(tag => (
				<li><a href={`/tags/${tag.slug}`}>{tag.name}</a></li>
			))}
		</ul>
	</section>
</BaseLayout>