---
import BaseLayout from '@layouts/BaseLayout.astro';
import {generateTagsData} from '@utils/tags.js'

const allPosts = await Astro.glob('../blog/*.{md,mdx}');
const allTagsUnique = new Set();
allPosts.forEach(post => {
  post.frontmatter.tags && post.frontmatter.tags.map(tag => {
    allTagsUnique.add(tag);
  })
})

const allTagsData = generateTagsData(allTagsUnique);
const title = 'Tags'
const desc = 'Blog posts tag index.'
---

<BaseLayout title={title} description={desc}>
	<style>
		ol, ul {
			list-style-type: none;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			justify-content: space-around;
			margin: 2em auto 0 auto;
			padding: 0;
		}
		li {
			margin: 0 auto 1em 0;
			padding: 0;
			font-size: 1.25em;
			border-radius: 0.25em;
		}
		li a,  li a:active, li a:visited {
			color: var(--text);
			font-size: 24px;
		}
		li a:hover, a:focus {
			color: var(--menu);
		}
		hr {
			margin-bottom: 2em;
		}
		.bottom-line {
			margin-top: 2em;
		}
		@media screen and (min-width: 200px) and (max-width: 667px) {
			ol, ul {
				margin: auto;
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			li {
				font-size: 1em;
			}
			aside a {
				font-size: 0.85em;
			}
		}
	</style>
	<section>
		<h1 class="title">{title}</h1>
		<hr>
		<ul>
			{allTagsData.map(tag => (
				<li><a href={`/tags/${tag.slug}`}>{tag.name}</a></li>
			))}
		</ul>
		<hr>
		<aside>
      <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
    </aside>
	</section>
</BaseLayout>
