---
import BaseLayout from "@layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import BackToTop from "@components/BackToTop.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("blog").then((collection) => {
		return collection.sort(
			(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
		);
	});

	const tags: string[] = [];

	allPosts.forEach((post) => {
		post.data.tags.forEach((tag) => {
			tags.push(tag.toLowerCase());
		});
	});

	return Array.from(new Set(tags)).map((tag) => {
		return {
			params: { tag },
			props: {
				tag,
				posts: allPosts.filter((post) =>
					post.data.tags.map((tag) => tag.toLowerCase()).includes(tag),
				),
			},
		};
	});
}

export interface Props {
	tag: string;
	posts: CollectionEntry<"blog">[];
}

const { tag, posts } = Astro.props;
---

<style scoped>
  .back {
    justify-content: left;
  }
  ul {
    list-style-type: none;
  }
  li .desc {
    border-bottom: 2px solid transparent;
  }
  li:hover .desc {
    border-bottom: 2px solid var(--hover);
    cursor: pointer;
  }
  .date {
    margin: 0;
    padding: 0;
  }
  .desc {
    padding-bottom: 0.25em;
    margin-bottom: 2em;
  }
  .tag {
    margin: 0;
  }
  .tag button {
    margin: 0.25em 0.25em 0.25em 0;
  }
  .back {
    margin-top: 0;
    font-size: 1.35em;
  }
  @media screen and (min-width: 200px) and (max-width: 720px) {
    ul {
      margin: 0 0 0 -1.5em;
    }
  }
</style>

<BaseLayout title={`${tag}`}>
  <section>
    <h1>Posts about <span class="tag">{`${tag}`}</span></h1>
    <hr />
    <aside class="back">
      <a href="/categories/"><button>Back to Categories &larr;</button></a>
    </aside>
    <ul>
      {
        posts.map((post) => (
          <li>
            <div>
              <a href={`/blog/${post.id}/`} rel="prefetch-intent">
                <span class="title">{post.data.title}</span>
                <p class="date"><FormattedDate date={post.data.pubDate} /></p>
                <p class="tag">
                  {post.data.tags.map((tag) => (
                    <button>{tag}</button>
                  ))}
                </p>
                <p class="desc">{post.data.description}</p>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
    <hr />
    <BackToTop />
  </section>
</BaseLayout>