---
export const prerender = true

import BaseLayout from "@layouts/BaseLayout.astro";
import { getPostsWithReadingTime } from '@utils/collections';
import FormattedDate from "@components/FormattedDate.astro";
import ReadingTime from "@components/ReadingTime.astro";
import BackToTop from "@components/BackToTop.astro";
import BreadcrumbSchema from "@components/BreadcrumbSchema.astro";
import CollectionPageSchema from "@components/CollectionPageSchema.astro";
import { SITE_URL, SITE_TITLE } from "@consts";
import type { BlogTagProps } from '../../types';

export async function getStaticPaths() {
	const allPosts = await getPostsWithReadingTime();

	const tags = [...new Set(allPosts.flatMap(post =>
		post.data.tags.map(tag => tag.toLowerCase())
	))];

	return tags.map((tag) => ({
		params: { tag },
		props: {
			tag,
			posts: allPosts.filter(post =>
				post.data.tags.map(t => t.toLowerCase()).includes(tag)
			),
		},
	}));
}

type Props = BlogTagProps;
const { tag, posts } = Astro.props;
const tagTitle = tag.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
const desc = `A collection of posts about ${tagTitle} on ${SITE_TITLE}.`
---


<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  hr {
    margin-bottom: 0.5em;
  }
  .back {
    justify-content: space-between;
    font-family: var(--sub-font);
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
  }
  .back a {
    font-size: 24px;
    color: var(--link);
  }
  .back a svg {
    display: inline-flex;
    width: 0.75em;
    height: 0.75em;
    vertical-align: middle;
    fill: currentColor;
    transition: all .1s ease-in-out;
    overflow: visible;
  }
  .categories:hover svg {
    transition: all .1s ease-in-out;
    transform: translateX(-4px);
  }
  .all:hover svg {
    transition: all .1s ease-in-out;
    transform: translateX(4px);
  }
  .back a:hover {
    color: var(--hover);
    transition: all .25s ease-out;
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0 auto 2em auto;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 auto 1em auto;
  }
  li:last-of-type {
    margin: 0 auto;
  }
  div {
    display: block;
    padding-bottom: 0.25em;
    border-bottom: 4px dotted transparent;
  }
  p {
    margin: 0 auto 0.125em auto;
    padding: 0 auto;
  }
  .years {
    margin: 1em auto;
  }
  .years a {
    font-family: var(--sub-font);
    font-weight: 700;
    font-size: 0.9em;
  }
  .back {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
  }
  button {
    margin: 0 0.175em;
    background: var(--info);
    cursor: pointer;
  }
  button:first-of-type {
    margin-left: 0;
  }
  .info {
    place-items: center;
    margin-top: 0.1em;
    display: inline-flex;
    gap: 0.25em
  }
  .tag {
    color: var(--primary);
    margin: 0.125em 0 0 0;
    padding: 0;
  }
  .title {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    color: var(--emphasis);
  }
  .title a:hover {
    color: var(--hover);
  }
  .desc {
    margin-top: -0.25em;
  }
  li:hover div {
    border-bottom: 4px dotted var(--hover);
    cursor: pointer;
    transition: all .25s ease-out;
  }
  li:hover .title {
    color: var(--hover);
    transition: all .25s ease-out;
  }
  @media (hover: hover) {
    li:hover button {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
    }
    li:hover button {
      outline-offset: 1px;
    }
  }
  @media screen and (max-width: 667px) {
    .back a {
      font-size: 0.85em;
    }
    .tag {
      margin-bottom: 0.25em;
    }
  }
</style>

<BaseLayout title={`Posts about ${tagTitle}`} description={desc}>
  <BreadcrumbSchema slot="head" crumbs={[
    { name: "Home", url: `${SITE_URL}` },
    { name: "Categories", url: `${SITE_URL}/categories` },
    { name: tagTitle, url: `${SITE_URL}/categories/${tag}` }
  ]} />
  <CollectionPageSchema
    slot="head"
    name={`Posts about ${tagTitle}`}
    description={desc}
    url={`${SITE_URL}/categories/${tag}`}
    about={tag}
  />
  <section class="h-feed">
    <h1 class="p-name">Posts about <span class="tag">{`${tagTitle}`}</span></h1>
    <a class="u-url" href={`${SITE_URL}/categories/${tagTitle}`} hidden>Permalink</a>
    <hr />
    <p class="back">
      <a href="/categories" rel="prefetch-intent" class="categories"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1"><title>arrow-left</title><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg> Categories</a>
      <a href="/blog" rel="prefetch-intent" class="all">All posts <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1"><title>arrow-right</title><path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" /></svg></a>
    </p>
    <p class="years">
      Alternately, see posts by year:&nbsp;
      <a href="/blog/years/2025/" data-umami-event="blog-2025">2025</a>&nbsp;
      <a href="/blog/years/2024/" data-umami-event="blog-2024">2024</a>&nbsp;
      <a href="/blog/years/2023/" data-umami-event="blog-2023">2023</a>&nbsp;
      <a href="/blog/years/2022/" data-umami-event="blog-2022">2022</a>&nbsp;
      <a href="/blog/years/2021/" data-umami-event="blog-2021">2021</a>
    </p>
    <ul>
      {
        posts.map((post) => (
          <li class="h-entry">
            <a href={`/blog/${post.id}/`} rel="prefetch-intent" data-umami-event={`${tag}-${post.id}`}>
              <div>
                <span class="p-name title">{post.data.title}</span>
                <p class="tag">
                  {post.data.tags.map((tag) => (
                    <button>{tag}</button>
                  ))}
                </p>
                <p class="info">
                  <FormattedDate class="dt-published" date={post.data.pubDate} />&nbsp;
                  <span class="reading"><ReadingTime time={post.readingTime} /></span>
                </p>
                <p class="p-summary desc">{post.data.description}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <hr />
    <BackToTop />
  </section>
</BaseLayout>