---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const tagCounts = {};
allPosts.forEach(post => {
  post.data.tags?.forEach(tag => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});
const tags = Object.entries(tagCounts)
  .map(([tag, count]) => ({ tag, count }))
  .sort((a, b) => a.tag.localeCompare(b.tag));
const title = "Categories";
const desc = "Blog posts by category";
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  p {
    margin: 0 auto 1em auto;
    padding: 0;
  }
  .back {
    display: flex;
    justify-content: space-between;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
  }
  li {
    margin: 0.25em;
  }
  .label a {
    color: #000
  }
  .count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.25em;
    height: 1rem;
    padding: 1px 0 0 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 9999px;
    font-family: var(--main-font);
    font-size: 0.675em;
  }
  button {
    display: flex;
    place-items: center;
    gap: 0.25em;
  }
  @media screen and (max-width: 667px) {
    section {
      line-height: 1.2;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p class="back">
      <a href="/blog/" rel="prefetch-intent">↩ All posts</a>
      <a href="/blog/years/" rel="prefetch-intent">Posts by year ↪</a>
    </p>
    <p>
      Click on categories below to see blog posts about that subject. Alternately, see <a href="/blog/">all posts</a> or <a href="/search/">search</a>.
    </p>
    <ul>
      {tags.map(({ tag, count }) => (
        <li>
          <button>
            <span class="label">
              <a href={`/categories/${tag}/`} rel="prefetch-intent">{tag}</a>
              </span>
            <span class="count">
              {count}
            </span>
          </button>
        </li>
      ))}
    </ul>
    <hr />
  </section>
</BaseLayout>