---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const tagCounts = {};
allPosts.forEach(post => {
  post.data.tags?.forEach(tag => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});
const tags = Object.entries(tagCounts)
  .map(([tag, count]) => ({ tag, count }))
  .sort((a, b) => a.tag.localeCompare(b.tag));
const title = "Categories";
const desc = "Blog posts by category";
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
  }
  li {
    margin: 0.25em;
  }
  button {
    background: var(--info);
    color: #000;
  }
  button a {
    color: #000;
  }
  p {
    margin-bottom: 2em;
  }
  @media screen and (max-width: 667px) {
    section {
      line-height: 1.2;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      Click on categories below to see blog posts about that subject.
    </p>

    <ul>
      {tags.map(({ tag, count }) => (
        <li>
          <button>
            <a href={`/categories/${tag}`}>
              {tag} <span class="count"> ({count})</span>
            </a>
          </button>
        </li>
      ))}
    </ul>
    <hr />
  </section>
</BaseLayout>