---
export const prerender = true

import BaseLayout from "@layouts/BaseLayout.astro";
import { getSortedTags } from '@utils/collections';
import BreadcrumbSchema from "@components/BreadcrumbSchema.astro";
import CollectionPageSchema from "@components/CollectionPageSchema.astro";
import { SITE_URL } from "@consts";
import { pages } from "@data/pages";

const tags = await getSortedTags();
const { title, description } = pages.find(p => p.href === "/categories")!;
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  p {
    margin: 0 auto 1em auto;
    padding: 0;
  }
  .back {
    display: flex;
    justify-content: space-between;
    font-family: var(--sub-font);
    font-weight: 800;
  }
  .all svg, .categories svg {
    display: inline-flex;
    width: 0.75em;
    height: 0.75em;
    vertical-align: middle;
    fill: currentColor;
    transition: all .1s ease-in-out;
    overflow: visible;
  }
  .all:hover svg {
    transition: all .1s ease-in-out;
    transform: translateX(-4px);
  }
  .categories:hover svg {
    transition: all .1s ease-in-out;
    transform: translateX(4px);
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto 2em auto;
    padding: 0;
    max-width: 1000px;
  }
  li {
    margin: 0.25em;
  }
  .label a {
    color: #000
  }
  .count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.25em;
    height: 1rem;
    padding: 1px 0 0 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 9999px;
    font-family: var(--main-font);
    font-size: 0.675em;
  }
  button a {
    display: flex;
    place-items: center;
    gap: 0.25em;
  }
  @media screen and (max-width: 667px) {
    section {
      line-height: 1.2;
    }
    .back {
      margin-top: -0.1em;
    }
    .desc {
      font-size: 18px;
    }
    ul {
      gap: 0.325em;
    }
  }
</style>

<BaseLayout title={title} description={description}>
  <BreadcrumbSchema slot="head" crumbs={[
    { name: "Home", url: `${SITE_URL}` },
    { name: "Categories", url: `${SITE_URL}/categories` }
  ]} />
  <CollectionPageSchema
    slot="head"
    name="Categories"
    description={description}
    url={`${SITE_URL}/categories`}
  />
  <section>
    <h1>{title}</h1>
    <a class="u-url" href={`${SITE_URL}/categories`} hidden>Permalink</a>
    <hr />
    <p class="back">
      <a href="/blog" rel="prefetch-intent" class="all"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1"><title>arrow-left</title><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg> All posts</a>
      <a href="/blog/years" rel="prefetch-intent" class="categories">Posts by year <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1"><title>arrow-right</title><path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" /></svg></a>
    </p>
    <p class="desc">
      Click on categories below to see blog posts about that subject.
    </p>
    <ul>
      {tags.map(({ tag, count }) => (
        <li>
          <button>
            <a href={`/categories/${tag}`} rel="prefetch-intent tag" data-umami-event={`categories-${tag}`}>
              <span class="label">
                {tag}
              </span>
            <span class="count">
              {count}
            </span>
            </a>
          </button>
        </li>
      ))}
    </ul>
    <hr />
  </section>
</BaseLayout>