---
import BaseLayout from "@layouts/BaseLayout.astro";
import Explore from "@components/Explore.astro";
import Popular from "@components/Popular.astro";
import { Image } from 'astro:assets';
import Lost from "@assets/404.png";

const title = "Page not found";
const desc = "This page does not seem to exist.";
---

<BaseLayout title={title} description={desc}>
  <style>
    h1 {
      font-family: var(--sub-font);
    }
    #go-back {
      cursor: pointer;
    }
    .endline {
      margin-top: 2em;
      margin-bottom: 1.5em;
    }
    .lost-aside {
      display: inline-flex;
      justify-content: space-between;
      font-size: 1.5em;
      margin: 0 auto 1em auto;
      padding: 0 auto;
      width: 100%;
    }
  </style>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      I think you took a wrong turn at Albuquerque. (Or hit a broken link, if so <a href="mailto:contact@fullmetalbrackets.com&subject=Broken%20link">bug me about it</a>.)
    </p>
    <Image
      src={Lost}
      alt="Bugs Bunny looking at a map because he took a wrong turn at Albuquerque."
      title="Took a wrong turn at Albuquerque."
      loading="eager"
      decoding="async"
      inferSize={true}
    />
    <p>
      Explore the site below, check out <a href="#popular">popular posts</a>, <a href="javascript:javascript:history.go(-1)" id="go-back">go back</a> where you came from, or <a href="/">return home</a>. 
    </p>
    <Explore />
    <div id="popular"/>
    <Popular />
  </section>
  <hr class="endline" />
  <aside class="lost-aside">
    <a href="/" rel="prefetch-intent"><button>Home</button></a>
    <a href="#top"><button>Top ↑</button></a>
  </aside>
</BaseLayout>
