---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<style>
	article {
		list-style-type: none;
		padding: 0;
		line-height: 1.2;
		margin: 3em 0 6em 0;
	}
	article h1 {
		font-size: 36px;
		line-height: 40px;
		color: var(--primary);
		margin: 0.8em 0;
	}
	a {
		position: relative;
	}
	a::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		border-radius: 4px;
		background-color: var(--menu);
		bottom: 0;
		left: 0;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}
	a:hover::before {
		transform-origin: left;
		transform: scaleX(1);
	}
	.desc {
		color: var(--text);
		padding-bottom: 1em;
	}
	hr {
		margin-bottom: 1em;
	}
	@-moz-document url-prefix() {
		a:hover h1 {
			color: var(--menu);
			-moz-transition: none !important;
		}
	}
	@media screen and (min-width: 200px) and (max-width: 650px) {
		main {
			margin: 0 10px;
		}
		ul {
			margin-top: 3em;
		}
	}
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<link rel="preload" href="/fonts/Streamster.woff2" as="font" crossorigin/>
	<link rel="preload" href="/fonts/MPLUSRounded1c-Medium.ttf" as="font" crossorigin/>
	<link rel="preload" href="/fonts/Wotfard.woff2" as="font" crossorigin/>
	<section>
		{posts.map((post) => (
		<a href={post.url}>
			<article>
				<time datetime={post.frontmatter.pubDate}>
					{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
						year: 'numeric',
						month: 'long',
						day: 'numeric',
					})}
				</time>
				<h1>{post.frontmatter.title}</h1>
				<p class="desc">{post.frontmatter.description}</p>
			</article>
		</a>
		))}
	</section>
</BaseLayout>