---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				line-height: 1.2;
			}
			ul li {
				margin-bottom: 2em;
				padding: 1em;
			}
			ul li:hover {
				background-color: #08083A;
				border-radius: 0.5em;
			}
			ul li a .title {
				color: #FF39A8;
			}
			.desc {
				color: rgb(198, 208, 235);
			}
			hr {
				margin-top: 1.5em;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{posts.map((post) => (
					<a href={post.url} rel="prefetch">
						<li>
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'long',
									day: 'numeric',
								})}
							</time>
							<h1>{post.frontmatter.title}</h1>
							<p class="desc">{post.frontmatter.description}</p>
							<hr>
						</li>
					</a>
					))}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
