---
import BaseLayout from '@layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@config';

const posts = (await Astro.glob('./blog/*.md')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
const notes = (await Astro.glob('./notes/*.md')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<style scoped>
	p {
		word-spacing: 1px;
	}
	ul {
		width: 85%;
	}
	li {
		display: inline-flex;
		flex-direction: column;
		margin: 0 2em 2em -1em;
		line-height: 1.2;
	}
	.more {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0 20px;
		line-height: 1.5;
		margin-bottom: 0;
	}
	.posts-title, .notes-title {
		display: inline-flex;
		flex-direction: row;
		margin-top: 0.25em;
	}
	a button {
		background-color: var(--tags);
		color: #000;
		border-radius: 0.25em;
		cursor: pointer;
		font-weight: 600;
		padding: 4px 8px;
		text-decoration: none;
		text-overflow: ellipsis;
		-webkit-transition: all .10s ease-out;
		-moz-transition: all .10s ease-out;
		-o-transition: all .10s ease-out;
		transition: all .10s ease-out;
		margin: 0 8px 8px 1em;
	}
	@media (hover: hover) {
		a:hover button  {
			box-shadow: -4px -4px 0 #000;
			transform: translate(4px,4px);
		}
		a:hover button {
			outline-offset: 1px;
		}
	}
	@media (hover: none) {
		a:hover button {
			background-color: var(--menu);
		}
	}
	.foot-line {
		margin-top: 4em;
	}
	@media screen and (min-width: 200px) and (max-width: 650px) {
		main {
			margin: 0 10px;
		}
		ul {
			width: 100%;
		}
		li {
			margin: 0 1em 2em -1em;
		}
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<link rel="preload" href="/fonts/Streamster.woff2" as="font" crossorigin/>
	<link rel="preload" href="/fonts/MPLUSRounded1c-Medium.ttf" as="font" crossorigin/>
	<link rel="preload" href="/fonts/Wotfard.woff2" as="font" crossorigin/>
	<section>
		<h1>Hello, World!</h1>
    <hr>
		<p>A website to collect mostly tech-related documentation written by me, <em>Ariel Diaz</em>. Most things I've learned and put to use get written down step-by-step for future reference. Maybe some of it will be helpful to you. If not, that's ok, it's still helpful for me. Either way, thanks for visiting!</p>
		<h4>See more</h4>
		<ul class="more">
			<li class="more">
				<a href="/about">About</a>
				<a href="/links">Links</a>
				<a href="/uses">Uses</a>
				<a href="/about#contact">Contact</a>
			</li>
		</ul>
		<h2>Recent Posts</h2>
		{posts.slice(0, 5).map((post) => (
			<ul>
				<li class="posts-li">
					<div class="posts-dates">
						<time datetime={post.frontmatter.pubDate}>
							{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'numeric',
								day: 'numeric',
							})}
						</time>
					</div>
					<div class="posts-title">
						<a href={post.url} rel="prefetch">
							<span>{post.frontmatter.title}</span>
						</a>
					</div>
				</li>
			</ul>
		))}
		<a href="/posts"><button>More Posts</button></a>
		<h2>Recent Notes</h2>
				{notes.slice(0, 5).map((note) => (
					<ul class="notes-ul">
						<li class="notes-li">
							<div class="notes-dates">
								<time datetime={note.frontmatter.pubDate}>
									{new Date(note.frontmatter.pubDate).toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'numeric',
										day: 'numeric',
									})}
								</time>
							</div>
							<div class="notes-title">
								<a href={note.url} rel="prefetch">
									<span>{note.frontmatter.title}</span>
								</a>
							</div>
						</li>
					</ul>
			))}
		<a href="/notes"><button>More Notes</button></a>
		<hr class="foot-line">
		<aside>
			<a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
		</aside>
		</section>
</BaseLayout>