---
import BaseLayout from "@layouts/BaseLayout.astro";
import BackToTop from "@components/BackToTop.astro";
import { getNotes } from '@utils/collections';
import BreadcrumbSchema from "@components/BreadcrumbSchema.astro";
import { SITE_URL, MASTODON } from "@consts";
import { Picture } from 'astro:assets';
import WIP from '@img/assets/under-construction.gif';

const notes = await getNotes();
const title = "Notes";
const desc = "List of all short-form notes posted as part of my lifestream.";
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    font-size: 1em;
  }
  li {
    margin: 2em auto;
    padding: 0;
    width: 100%;
    max-width: 720px;
  }
  span, p {
    margin: 0 auto;
    padding: 0 auto;
  }
  img {
    margin: 2em auto;
  }
</style>

<BaseLayout title={title} description={desc}>
  <BreadcrumbSchema slot="head" crumbs={[
    { name: "Home", url: `${SITE_URL}/` },
    { name: "Notes", url: `${SITE_URL}/notes/` }
  ]} />
  <section class="h-feed">
    <h1 class="p-name">{title}</h1>
    <a class="u-url" href={`${SITE_URL}/notes/`} hidden>Permalink</a>
    <hr />
    <p>
      Microblog-style short-form notes, sometimes cross-posted to <a href={MASTODON} target="_blank" rel="me noreferrer noopener">Mastodon</a> if I feel like it. <sup>(Under construction.)</sup>
    </p>
    <p>
      <img src={WIP.src} width={WIP.width} height={WIP.height} alt="Under construction animated gif straight out of the 90's." />
    </p>
    <hr />
    <BackToTop />
  </section>
</BaseLayout>