---
import BaseLayout from "@layouts/BaseLayout.astro";
import Note from '@components/Note.astro';
import BackToTop from "@components/BackToTop.astro";
import { getNotes } from '@utils/collections';
import BreadcrumbSchema from "@components/BreadcrumbSchema.astro";
import { SITE_URL } from "@consts";

const notes = await getNotes();
const title = "Notes";
const desc = "List of all short-form notes posted as part of my lifestream.";
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    font-size: 1em;
  }
  li {
    margin: 2em auto;
    padding: 0;
    width: 100%;
    max-width: 720px;
  }
  span, p {
    margin: 0 auto;
    padding: 0 auto;
  }
</style>

<BaseLayout title={title} description={desc}>
  <BreadcrumbSchema slot="head" crumbs={[
    { name: "Home", url: `${SITE_URL}/` },
    { name: "Notes", url: `${SITE_URL}/notes/` }
  ]} />
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      List of all short-form notes that posted as part of my <a href="/lifestream/">Lifestream</a>.
    </p>
    <ul>
        {notes.map((note) => (<li>
            {note.data.type === 'note' && <Note {...note.data as any} />}
        </li>))}
    </ul>
    <hr />
    <BackToTop />
  </section>
</BaseLayout>