---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';
import Icon from '@icons/book.svg';

type Props = CollectionEntry<'lifestream'>['data'] & {
  type: 'book';
  index?: number;
  startDate: Date;
};

const { 
  title, 
  image, 
  index = 0,
  author, 
  publisher,
  note, 
  startDate, 
  isbn, 
  pubDate,
  genre,
  url 
} = Astro.props;

const isAboveFold = index < 6;
---

<div class="book-card">
  {image && (
      <Image src={image} alt={title} loading={isAboveFold ? 'eager' : 'lazy'} inferSize />
  )}
  <div class="book-info">
    <h3 class="book-title">{title}</h3>
    {author && <p class="book-author"><span class="written">Written by</span> {author}</p>}
    <p class="pub-info">
      <span><span>Published</span> <time datetime={startDate.toISOString()}>
        {startDate.toLocaleDateString('en-US', { 
          year: 'numeric', 
          month: 'numeric', 
          day: 'numeric' 
        })}
        </time>
      </span>
      <span class="isbn">ISBN: {isbn && <span class="isbn-number"><a href={`https://goodreads.com/search?q=${isbn}`} target="_blank" rel="noopener noreferrer" data-umami-event={`${title}-goodreads`}>{isbn}</a></span>}</span>
    </p>
    {publisher && <p class="book-publisher">{publisher}</p>}
    {genre && <span class="genre-tag">
      {genre.map((genre) => (
        <span class="genre">{genre}</span>
      ))}
    </span>}
    {note && <p class="note">{note}</p>}
    <div class="external-link">
      {url && (
        <a href={url} target="_blank" rel="noopener noreferrer" aria-label="external link" data-umami-event={`${title}-more`}>
          More from this author
        </a>
      )}
    </div>
  </div>
</div>
<span class="info"><FormattedDate date={pubDate} /><Icon width={32} height={32} /></span>

<style>
  .book-card {
    background: var(--blockquote);
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid transparent;
    width: 100%;
    transition: transform 0.2s;
  }
  
  .book-card:hover {
    transform: translateY(-4px);
  }

  .book-info {
    padding: 1rem;
  }
  
  .book-title {
    margin: 0;
    line-height: 1.1;
    font-size: 1.25em;
    font-weight: 900;
    font-family: var(--sub-font);
    color: var(--emphasis);
  }
  
  .book-author {
    margin: 0;
    font-size: 0.875rem;
    color: var(--secondary);
    font-style: italic;
  }
  
  .book-publisher {
    margin: 0;
    font-size: 0.75rem;
    color: var(--secondary)
  }
  
  .external-link {
    margin-top: 0.75em;
    font-size: 0.875rem;
    text-align: right;
    font-family: var(--sub-font);
    font-weight: 500;
  }

  .genre-tag {
    display: flex;
    padding: 0.25rem 0;
    font-size: 0.5em;
    margin-top: 0.5rem;
    gap: 0.25em;
  }
  
  .genre {
    font-family: var(--sub-font);
    background-color: var(--info);
    color: #000;
    border: 0;
    border-radius: 0.25em;
    padding: 4px 8px 3px 8px;
    font-weight: 700;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: block;
  }

  .info {
    display: flex;
    justify-content: space-between;
    place-items: center;
    font-size: 0.5em;
    margin: 0 0 0 0.15em;
    padding: 0;
    font-family: var(--sub-font);
    font-size: 0.875em;
  }

  .info svg {
    filter: var(--lifestream);
    margin: 0 0.25em 0 0;
    padding: 0;
  }
  
  .pub-info {
    display: flex;
    justify-content: space-between;
    place-items: center;
    font-size: 0.5em;
    margin: 0;
    padding: 0;
    font-family: var(--sub-font);
  }

  .pub-info span {
    color: var(--primary);
    font-style: italic;
  }

  .pub-info span span, .book-author .written {
    color: var(--text)    
  }

  .pub-info .isbn {
    display: block;
    color: var(--emphasis);
    font-style: normal;
  }

  .pub-info .isbn-number {
    font-weight: 700;
    font-style: normal;
    color: var(--secondary);
  }

  .note {
    margin-top: 0.75rem;
    margin-bottom: 0;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.3;
  }

  time {
    display: inline;
    margin: 0;
    padding: 0;
  }
</style>