---
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const featuredPosts = [
  'upgrade-debian-12-bookworm-debian-13-trixie',
  'plex-remote-access-tailscale', 
  'reverse-proxy-using-nginx-adguardhome-cloudflare',
  'how-i-setup-home-server',
  'comprehensive-guide-tailscale-securely-access-home-network'
];

const selectedPosts = allPosts.filter(post => 
  featuredPosts.includes(post.slug)
);
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
    font-family: "M Plus Rounded 1c Reg";
  }
  span {
    line-height: 1.4;
  }
  .tag {
    margin: 0 0 0.25em 0;
  }
  button {
    background: var(--info);
    margin-right: 0.325em;
    background: var(--info);
    cursor: pointer;
  }
  button:first-of-type {
    margin-left: 0;
  }
  .desc {
    line-height: 1.4;
  }
  .container {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em 1.5em 1em 1.5em;
    border: 2px solid var(--primary);
  }
  .list {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto 1em auto;
    padding-bottom: 0.5em;
    line-height: 1.2;
    border-bottom: 2px solid transparent;
  }
  .list:last-of-type {
    margin: 0 auto;
    padding: auto;
  }
  .posts-title {
    display: inline-flex;
    flex-direction: row;
    margin: 0.25em auto;
  }
  .posts-title a,
  .posts-title a:active,
  .posts-title a:visited {
    color: var(--primary);
  }
  .posts-title a:hover {
    color: var(--menu);
  }
  .list:hover {
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--hover);
  }
  @media (hover: hover) {
    a:hover button {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
    }
    a:hover button {
      outline-offset: 1px;
    }
  }
  @media (hover: none) {
    a:hover button {
      background-color: var(--menu);
    }
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    main {
      margin: 0 10px;
    }
    ul {
      padding: 1em 0.75em 0.5em 0.75em;
      width: 100%;
      margin: 0;
    }
  }
</style>

<section>
<div id="featured" />
  <h2>Featured Articles</h2>
  <div class="container">
    {selectedPosts.map(post => (
      <div class="list">
        <a href={`/blog/${post.slug}`} rel="prefetch-intent" data-umami-event={`featured-${post.slug}`}>
        <p class="posts-title">
          {post.data.title}
        </p>
        <p class="tag">
          {post.data.tags.map((tag) => (
            <button>{tag}</button>
          ))}
        </p>
        <p class="desc">
          {post.data.description}
        </p>
        </a>
      </div>
    ))}
  </div>
</section>
