---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';
import Icon from '@icons/movie.svg';

type Props = CollectionEntry<'lifestream'>['data'] & {
  type: 'movie';
  index?: number;
  startDate: Date;
};

const { 
  title, 
  image, 
  index = 0,
  director, 
  stars, 
  note, 
  pubDate, 
  startDate, 
  genre,
  url 
} = Astro.props;

const isAboveFold = index < 6;
---

<div class="movie-card">
    {image && (
      <div class="movie-poster">
        <Image src={image} alt={title} loading={isAboveFold ? 'eager' : 'lazy'} inferSize />
      </div>
    )}
  <div class="movie-info">
    <h3 class="movie-title">{title}</h3>
    {director && <p class="movie-director"><span>Directed by</span> {director}</p>}
    {stars && stars.length > 0 && (
      <p class="movie-stars">
        <span>Starring</span> {stars.join(', ')}
      </p>
    )}
    <p class="release-date">
      <span>Released</span>
      <time datetime={startDate.toISOString()}>
        {startDate.toLocaleDateString('en-US', { 
          year: 'numeric', 
          month: 'numeric', 
          day: 'numeric' 
        })}
      </time>
    </p>
    {genre && <span class="genre-tag">
      {genre.map((genre) => (
        <span class="genre">{genre}</span>
    ))}
    </span>}
    {note && <p class="note">{note}</p>}
    <div class="external-link">
      {url && (
        <a href={url} target="_blank" rel="noopener noreferrer" aria-label="external link">
          More from this director
        </a>
      )}
    </div>
  </div>
</div>
<span class="info"><FormattedDate date={pubDate} /><Icon width={28} height={28} /></span>

<style>
  .external-link {
    margin-top: 0.75em;
    font-size: 0.875rem;
    text-align: right;
    font-family: var(--sub-font);
    font-weight: 500;
  }

  .info {
    display: flex;
    justify-content: space-between;
    place-items: center;
    font-size: 0.5em;
    margin: 0.15em 0.15em 0 0.15em;
    padding: 0;
    font-family: var(--sub-font);
    font-size: 0.875em;
  }

  .info svg {
    filter: var(--lifestream);
    margin: 0 0.25em 0 0;
    padding: 0;
  }

  .genre {
    font-family: var(--sub-font);
    background-color: var(--info);
    color: #000;
    border: 0;
    border-radius: 0.25em;
    padding: 4px 8px 3px 8px;
    font-weight: 700;
  }

  .genre-tag {
    display: flex;
    padding: 0.25rem 0;
    font-size: 0.5em;
    margin-top: 0.5rem;
    gap: 0.25em;
  }

  .movie-card {
    background: var(--code-bg);
    border-radius: 0.5em;
    overflow: hidden;
    width: 100%;
    transition: transform 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .movie-card:hover {
    transform: translateY(-4px);
  }
    
  .movie-info {
    padding: 1rem;
  }
  
  .movie-title {
    margin: 0 0 0.5rem 0;
    line-height: 1.1;
    font-size: 1.25em;
    font-weight: 900;
    font-family: var(--sub-font);
    color: var(--emphasis);
  }
  
  .movie-director,
  .movie-stars {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-style: italic;
    color: var(--secondary)
  }
  
  .movie-director span, .movie-stars span {
    color: var(--text);
    margin: 0;
    padding: 0;
  }

  .note {
    margin-top: 0.75rem;
    margin-bottom: 0.15em;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.3;
  }

  .release-date {
    margin: -0.55em 0 -0.15em 0;
    padding: 0;
    font-family: var(--sub-font);
  }

  .release-date span, time {
    font-size: 0.5em;
    font-style: italic;
    margin: 0;
    padding: 0;
  }

  .release-date span {
    color: var(--text);
  }

  time {
    color: var(--primary);
  }
</style>