---
import FormattedDate from "@components/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
    font-family: var(--sub-font);
    font-weight: 900;
  }
  p {
    margin: 0;
  }
  .info {
    display: inline-flex;
    place-items: center;
    margin: 0.1em 0 0 0;
    padding: 0;
  }
  .tag {
    display: inline-flex;
    place-items: center;
  }
  .tag button {
    margin: 0 0.25em 0.25em 0;
    background: var(--info);
    cursor: pointer;
  }
  .tag button:first-of-type {
    margin-left: 0;
  }
  .desc {
    line-height: 1.4;
  }
  .container {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em;
  }
  .list {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto 1em auto;
    padding-bottom: 0.5em;
    line-height: 1.2;
    border-bottom: 2px solid transparent;
  }
  .list:hover {
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--hover);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .list:hover .posts-title {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .posts-title {
    display: inline-flex;
    flex-direction: row;
    margin: 0 auto;
  }
  .posts-title a,
  .posts-title a:active,
  .posts-title a:visited {
    color: var(--primary);
  }
  .posts-title a:hover {
    color: var(--menu);
  }
  a button {
    font-family: var(--sub-font);
    background-color: var(--info);
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    padding: 4px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    margin: 0 0 0.5em 0.25em;
  }
  .more {
    font-family: var(--sub-font);
    font-weight: 700;
  }
  .more a {
    border-bottom: 2px solid transparent;
  }
  .more a:hover {
    border-bottom: 2px solid var(--hover);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  @media screen and (max-width: 667px) {
    .info {
      display: block;
      margin-top: 0.25em;
    }
    .date {
      display: block;
    }
    .tag {
      display: inline-block;
    }
  }
</style>

<section>
  <h2>Recent Posts</h2>
  <div class="container">
    {
      posts.slice(0, 5).map((post) => (
        <div class="list">
          <a href={`/blog/${post.id}/`} rel="prefetch-intent" data-umami-event="recent-post">
            <p class="posts-title">{post.data.title}</p>
            <p class="info">
              <FormattedDate date={post.data.pubDate} />&nbsp;
              <span class="tag">
                {post.data.tags.map((tag) => (
                  <button>{tag}</button>
                ))}
              </span>
            </p>
            <p class="desc">{post.data.description}</p>
          </a>
        </div>
      ))
    }
    <div class="more">
      <a href="/blog/">Browse all posts &rarr;</a>
    </div>
  </div>
</section>
