---
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

const links = (await getCollection("links")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
    font-family: var(--sub-font);
    font-weight: 900;
  }
  .container {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1em auto;
    padding-bottom: 0.5em;
  }
  .title-link {
    color: var(--emphasis);
    border-bottom: 2px transparent;
    font-weight: bold;
    line-height: 1.2;
  }
  .title-link:hover {
    color: var(--hover);
    border-bottom: 2px solid var(--hover);
  }
  .tag {
    margin-bottom: 0.25em;
  }
  .tag, .data {
    font-size: 0.9em;
  }
  .link-tag {
    font-family: var(--sub-font);
    background-color: var(--info);
    color: #000;
    border: 0;
    border-radius: 0.25em;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    transition: all 0.2s ease;
  }
  .more {
    font-family: var(--sub-font);
    font-weight: 500;
  }
  .more a {
    border-bottom: 2px solid transparent;
  }
  .more a:hover {
    color: var(--hover);
    border-bottom: 2px solid var(--hover);
    transition: all .5s ease-out;
  }
  
  @media (hover: hover) {
    .list:has(.title-link:hover) .link-tag {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
      outline-offset: 1px;
    }
  }
  
  @media screen and (max-width: 667px) {
    .link-tag {
      font-size: 16.65px;
    }
  }
</style>

<section>
  <h2>Recent Links</h2>
  <div class="container">
    {
      links.slice(0, 5).map((link) => (
        <div class="list">
          <span>
            <a href={link.data.url} target="_blank" class="title-link" data-umami-event="recent-link">
              {link.data.title}
            </a>
          </span>
          <span class="info"><FormattedDate date={link.data.pubDate} />&nbsp;</span>
          <span class="tag"><span class="link-tag">{link.data.tag}</span></span>
          <span>{link.data.description}</span>
        </div>
      ))
    }
    <div class="more">
      <a href="/links/" rel="prefetch-intent">Browse all links &rarr;</a>
    </div>
  </div>
</section>