---
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import More from '@icons/arrow-right.svg';

const links = (await getCollection("links")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style scoped>
  section {
    margin: 0 auto;
    padding: 0;
  }
  h2 {
    margin-bottom: 0.3em;
    font-family: var(--sub-font);
    font-weight: 900;
  }
  .container {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em 1.5em 0.5em 1.5em;
  }
  .info {
    display: flex;
    place-items: center;
    margin: 0;
    padding: 0;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 0.5em;
  }
  .title-link {
    color: var(--emphasis);
    border-bottom: 2px transparent;
    font-weight: bold;
    line-height: 1.2;
  }
  .title-link:hover {
    color: var(--hover);
    border-bottom: 2px solid var(--hover);
  }
  .link-tag {
    font-family: var(--sub-font);
    background-color: var(--info);
    color: #000;
    border: 0;
    border-radius: 0.25em;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 0.625em;
    display: inline-block;
    transition: all 0.2s ease;
  }
  .more {
    display: flex;
    font-family: var(--sub-font);
    font-weight: 900;
    justify-content: end;
    margin: -0.85em -1.25em -0.5em 0;
    padding: 0.25em;
  }
  .more svg {
    display: inline-flex;
    place-content: center;
    margin: 2px 0 -3px 0;
    padding: 0;
    filter: var(--svg2);
  }
  .more a {
    color: var(--secondary);
  }
  .more a:hover {
    color: var(--foot-link);
    transform: 0.2;
  }
  .more a:hover svg {
    transition: all .1s ease-out;
    transform: translateX(4px);
  }
  
  @media (hover: hover) {
    .list:has(.title-link:hover) .link-tag {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
      outline-offset: 1px;
    }
  }
  
  @media screen and (max-width: 667px) {
    a.active {
      border-bottom: 1px solid transparent;
    }
    .more {
      margin-top: 0;
    }
  }
</style>

<section>
  <h2>Recent Links</h2>
  <div class="container">
    {
      links.slice(0, 5).map((link) => (
        <div class="list">
          <span>
            <a href={link.data.url} target="_blank" class="title-link" data-umami-event={`recent-link-${link.data.title}`}>
              {link.data.title}
            </a>
          </span>
          <span class="info"><FormattedDate date={link.data.pubDate} />&nbsp;
            <span class="link-tag">{link.data.tag}</span>
          </span>
          {/* <span class="tag"></span> */}
        </div>
      ))
    }
    <span class="more">
      <a href="/links/" rel="prefetch-intent">MORE <More height={24} width={24} /></a>
    </span>
  </div>
</section>