---
import FormattedDate from "@components/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
    font-family: "M Plus Rounded 1c Reg";
  }
  p {
    margin: 0;
  }
  .desc {
    line-height: 1.4;
  }
  .container {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em;
  }
  .list {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto 1em auto;
    padding-bottom: 0.5em;
    line-height: 1.2;
    border-bottom: 2px solid transparent;
  }
  .list:hover {
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--hover);
  }
  .posts-title {
    display: inline-flex;
    flex-direction: row;
    margin: 0.25em auto;
  }
  .posts-title a,
  .posts-title a:active,
  .posts-title a:visited {
    color: var(--primary);
  }
  .posts-title a:hover {
    color: var(--menu);
  }
  a button {
    background-color: var(--tags);
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 600;
    padding: 4px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    margin: 0 0 0.5em 0.25em;
    font-family: "M Plus Rounded 1c Med";
  }
  .more {
    font-family: "M Plus Rounded 1c Reg";
    font-weight: 900;
    font-size: 1.2em;
  }
  .more a {
    color: var(--menu);
    border-bottom: 2px solid transparent;
  }
  .more a:hover {
    color: var(--link);
    border-bottom: 2px solid var(--link);
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    main {
      margin: 0 10px;
    }
    span {
      font-size: 100%;
    }
    ul {
      padding: 0.75em 0.75em 0.5em 0.75em;
      width: 100%;
      margin: 0;
    }
  }
</style>

<section>
  <h2>Recent Posts</h2>
  <div class="container">
    {
      posts.slice(0, 5).map((post) => (
        <div class="list">
          <a href={`/blog/${post.slug}/`} rel="prefetch-intent" data-umami-event="recent-post">
            <p class="posts-title">{post.data.title}</p>
            <p class="info">
              <FormattedDate date={post.data.pubDate} />&nbsp;
              <button>{post.data.tags}</button>
            </p>
            <p class="desc">{post.data.description}</p>
          </a>
        </div>
      ))
    }
    <div class="more">
      <a href="/blog/">More Posts &rarr;</a>
    </div>
  </div>
</section>
