---
import FormattedDate from "./FormattedDate.astro";
import ReadingTime from "./ReadingTime.astro";
import { getCollection, render } from "astro:content";
import More from '@icons/arrow-right.svg';

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const recentPosts = await Promise.all(
  posts.slice(0, 5).map(async (post) => {
    const { remarkPluginFrontmatter } = await render(post);
    return {
      ...post,
      readingTime: remarkPluginFrontmatter.readingTime
    };
  })
);
---

<style scoped>
  section {
    margin: 0 auto;
    padding: 0;
  }
  h2 {
    margin-bottom: 0.3em;
    font-family: var(--sub-font);
    font-weight: 900;
  }
  p {
    margin: 0;
  }
  .info {
    display: flex;
    place-items: center;
    margin: 0;
    padding: 0;
    gap: 0.25em;
  }
  .reading {
    margin: 0;
  }
  .tag {
    display: flex;
    place-items: center;
    margin: 0.25em 0;
    gap: 0.25em;
  }
  .tag button {
    margin: 0;
    background: var(--info);
    cursor: pointer;
  }
  .desc {
    line-height: 1.3;
  }
  .container {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em 1.5em 0.5em 1.5em;
  }
  .list {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto 1em auto;
    padding-bottom: 0.5em;
    line-height: 1.3;
    border-bottom: 4px dotted transparent;
  }
  .list:hover {
    padding-bottom: 0.5em;
    border-bottom: 4px dotted var(--hover);
    transition: all .5s ease-out;
  }
  .list:hover .posts-title {
    color: var(--hover);    
    transition: all .25s ease-out;
  }
  .posts-title {
    display: inline-flex;
    flex-direction: row;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1.2;
    color: var(--emphasis);
  }
  .more {
    display: flex;
    font-family: var(--sub-font);
    font-weight: 900;
    justify-content: end;
    margin: 0.85em -1.25em -0.5em 0;
    padding: 0.25em;
  }
  .more svg {
    display: inline-flex;
    place-content: center;
    margin: 4px 0 -3px 0;
    padding: 0;
    filter: var(--svg2);
  }
  .more a {
    color: var(--secondary);
  }
  .more a:hover {
    color: var(--foot-link);
    transform: 0.2;
  }
  .more a:hover svg {
    transition: all .1s ease-out;
    transform: translateX(4px);
  }

  @media screen and (max-width: 1245px) {
    .more {
      margin: -0.25em -1.25em -0.5em 0;
    }
  }

  @media screen and (max-width: 667px) {
    .info {
      display: block;
      margin: 0.5em 0 0.25em 0;
    }
    .tag {
      display: block;
      margin: 0.25em 0 0 0;
    }
    .tag button {
      margin: 0.1em 0.25em 0.1em 0;
    }
    .list {
      transition: none;
      border-bottom: 0;
      margin: 0 0 0.5em 0;
    }
    .list:hover, .list:hover .posts-title {
      transition: none;
      border-bottom: 0;
    }
  }
</style>

<section>
  <h2>Recent Posts</h2>
  <div class="container">
    {
      recentPosts.map((post) => (
        <div class="list">
          <a href={`/blog/${post.id}/`} rel="prefetch-intent" data-umami-event={`recent-post-${post.id}`}>
            <p class="posts-title">{post.data.title}</p>
            <span class="tag">
              {post.data.tags.map((tag) => (
                <button>{tag}</button>
              ))}
            </span>
            <p class="info">
              <FormattedDate date={post.data.pubDate} monthFormat="short" />&nbsp;
              <span class="reading"><ReadingTime time={post.readingTime} /></span>
            </p>
          </a>
        </div>
      ))
    }
    <span class="more">
      <a href="/blog/" rel="prefetch-intent">MORE <More height={24} width={24} /></a>
    </span>
  </div>
</section>
