---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const links = (await getCollection("links")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const title = "Links";
const desc = "Links to helpful web development tools and sites.";
---

<style>
  p {
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
    padding: unset;
    margin-bottom: 4em;
  }
  ul li {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1em 0.5em;
  }
  .data {
    font-size: 0.9em;
  }
  span a:hover {
    color: var(--hover);
    text-decoration: underline;
    text-decoration-color: var(--link);
  }
</style>
<BaseLayout title={title} description={desc}>
  <section>
    <h1>Links</h1>
    <hr />
    <p>
      Helpful sites and tools that I use regularly. If you'd like to share
      similar tools you find to be very useful for system administrators or web
      developers, comment below and I'll gladly add them, or open a pull request
      on GitHub with new links added!
    </p>
    <ul>
      {
        links.map((link) => (
          <li>
            <span>
              <a href={link.data.url} target="_blank">
                {link.data.title}
              </a>
            </span>
            <span class="data">{link.data.description}</span>
          </li>
        ))
      }
    </ul>
    <hr />
    <aside>
      <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
    </aside>
  </section>
</BaseLayout>
