---
import BackToTop from "@components/BackToTop.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { getCollection } from "astro:content";

const links = (await getCollection("links")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const title = "Links";
const desc = "Links to websites, self-hosted apps and other cool online things that I use.";
---

<style>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  p {
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
    padding: unset;
    margin-bottom: 2em;
  }
  ul li {
    display: flex;
    flex-direction: column;
    margin: 0 0.25em 1em 0.25em;
  }
  .tag {
    color: var(--primary);
    font-size: 0.9em;
  }
  .desc {
    font-size: 0.9em;
  }
  .info {
    display: inline-flex;
    place-items: center;
    margin: 0.125em 0;
  }
  .link-tag {
    font-family: var(--sub-font);
    background-color: var(--info);
    color: #000;
    border: 0;
    border-radius: 0.25em;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 0.75em;
    display: inline-block;
    transition: all 0.2s ease;
  }
  .title-link {
    color: var(--emphasis);
    border-bottom: 2px transparent;
    font-weight: bold;
    line-height: 1.2;
  }
  .title-link:hover {
    color: var(--hover);
    border-bottom: 2px solid var(--hover);
  }
  .edit a {
    color: #000;
  }
  .edit a:hover {
    color: #000;
    border-bottom: 0;
  }
  .edit {
    display: inline-block;
    background-color: var(--info);
    color: #000;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: 600;
    margin: 0 auto;
    padding: 6px 10px 4px 10px;
    text-decoration: none;
    font-size: 0.85em;
    font-family: 'M Plus Rounded 1c Med';
    line-height: 1.5;
  }
  .edit img {
    display: inline;
    filter: brightness(0) saturate(100%);
    height: 24px;
    width: auto;
    padding: 0 auto;
    margin: 2px 0.5em -5px 0;
    border-radius: 0;
    cursor: pointer;
  }
  aside {
    margin-top: -2em;
  }
  
  /* Hover effect: when title is hovered, animate the tag */
  @media (hover: hover) {
    li:has(.title-link:hover) .link-tag {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
      outline-offset: 1px;
    }
  }
  
  @media screen and (max-width: 667px) {
    section {
      line-height: 1.2;
    }
    .tag {
      margin: 0.25em 0;
    }
    .edit {
      font-size: 0.75em;
    }
    .info {
      margin: 0.125em 0;
    }
  }
</style>
<BaseLayout title={title} description={desc}>
  <section>
    <h1>Links</h1>
    <hr />
    <p>
      {desc} I'm constantly adding to this as I find new things I consider worth sharing!
    </p>
    <ul>
      {
        links.map((link) => (
          <li>
            <span>
              <a href={link.data.url} target="_blank" class="title-link" data-umami-event={`links-${link.data.title}`}>
                {link.data.title}
              </a>
            </span>
            <span class="info"><FormattedDate date={link.data.pubDate} />&nbsp;<span class="link-tag">{link.data.tag}</span></span>
            <span class="desc">{link.data.description}</span>
          </li>
        ))
      }
    </ul>
    <hr/>
    <BackToTop />
  </section>
</BaseLayout>