---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { generateTagData } from "../../../utils/tags";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		tags?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, tags },
} = Astro.props;
const allTagsData = generateTagData(tags);
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<link rel="stylesheet" href="../../prism.css">
		<style>
			section {
				padding-top: 1em;
			}
			hr {
				margin-bottom: 3em;
			}
			h3 {
				margin-top: 5em;
			}
			.title {
				font-size: 2em;
				margin: 0.25em 0 0.25em;
			}
			ul {
				display: flex;
				list-style-type: none;
				margin: 0 auto;
				padding: 0;
				min-width: 50px;
			}
			li {
				padding: 2px 4px;
				margin: 10px 5px;
				background: #FF39A8;
				color: #000;
				font-weight: bold;
				border-radius: 0.25em;
				list-style-type: none;
			}
			li:hover {
				background: #F986DE;
			}
			aside {
				display: flex;
				justify-content: right;
				border-style: dotted;
				font-size: 2rem;
				font-family: 'Streamster';
				font-weight: 700;
				border-style: none;
				cursor: pointer;
				margin: 0 auto;
			}
			aside > a, a:active, a:visited {
				color: #FF39A8;
			}
			aside > a:hover {
				color: #F986DE;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<section>
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Updated on <time>{updatedDate}</time></div>}
				<ul>
					{allTagsData.map(tags => (
						<a href={`/blog/tags/${tags.slug}`}><li>{tags.name}</li></a>
					))}
				</ul>
				<hr/>
				<slot />
			</section>
			<aside>
				<a href="#top">Back to Top</a>
			</aside>
		</main>
		<Footer />
	</body>
</html>