---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("wiki")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const title = "Wiki";
const desc = "List of all wiki articles";
---

<style scoped>
  h1 {
    font-family: "M Plus Rounded 1c Reg";
  }
  ul {
    list-style-type: none;
    margin: 2em auto 0 -1.5em;
    font-size: 1em;
  }
  li {
    margin: 0 auto;
    padding-bottom: 0.25em;
    margin-bottom: 2em;
  }
  div {
    padding-bottom: 0.25em;
    border-bottom: 2px solid transparent;
  }
  span, p {
    margin: 0 auto;
    padding: 0 auto;
  }
  .title a,
  .title a:active,
  .title a:visited {
    color: var(--primary);
  }
  li:hover div {
    border-bottom: 2px solid var(--hover);
    cursor: pointer;
  }
  li:hover .title {
    color: var(--hover);
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    .title {
      font-size: 20px;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      This is just a dump for my homelab documentation, how I set up various devices and services for self-hosting, etc. This is mostly for my own usage, but maybe it will help you set things up for yourself too.
    </p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <div>
              <a href={`/wiki/${post.slug}/`} rel="prefetch-intent" data-umami-event={post.slug}>
              <span class="title">{post.data.title}</span>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <p class="desc">{post.data.description}</p>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
    <hr />
    <aside>
      <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
    </aside>
  </section>
</BaseLayout>