---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import BackToTop from "@components/BackToTop.astro";

const posts = (await getCollection("wiki")).sort((a, b) => {
  const dateA = a.data.updatedDate || a.data.pubDate;
  const dateB = b.data.updatedDate || b.data.pubDate;
  return dateB.valueOf() - dateA.valueOf();
});

const title = "Wiki";
const desc = "List of all wikis";
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  ul {
    list-style-type: none;
    margin: 2em auto;
    padding: 0;
    font-size: 1em;
  }
  li {
    margin: 0 auto 1em auto;
    padding: 0;
  }
  button {
    margin-bottom: 0.25em;
  }
  div {
    padding-bottom: 0.25em;
    border-bottom: 4px dotted transparent;
  }
  span, p {
    margin: 0 auto;
    padding: 0 auto;
  }
  .title {
    font-weight: bold;
    line-height: 1.2;
    color: var(--emphasis);
  }
  li:hover div {
    border-bottom: 4px dotted var(--hover);
    cursor: pointer;
    transition: all .25s ease-out;
  }
  li:hover .title {
    color: var(--hover);
    transition: all .25s ease-out;
  }
  @media (hover: hover) {
    li:hover button {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
    }
    li:hover button {
      outline-offset: 1px;
    }
  }
  @media (hover: none) {
    li:hover button {
      background-color: var(--hover);
    }
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    section {
      line-height: 1.2;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      This is a place for things that don't make sense as a blog post. Random notes, homelab documentation, etc.
    </p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <div>
              <a href={`/wiki/${post.id}/`} rel="prefetch-intent" data-umami-event={post.id}>
                <span class="title">{post.data.title}</span>
                <p class="date">
                  <FormattedDate date={post.data.updatedDate || post.data.pubDate} />
                </p>
                <p class="tag">
                  <button>{post.data.tag}</button>
                </p>
                <p class="desc">{post.data.description}</p>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
    <hr />
    <BackToTop />
  </section>
</BaseLayout>