---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import BackToTop from "@components/BackToTop.astro";

const posts = (await getCollection("wiki")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const title = "Wiki";
const desc = "List of all wiki articles";
---

<style scoped>
  h1 {
      font-family: var(--sub-font);
  }
  ul {
    list-style-type: none;
    margin: 2em auto 0 auto;
    padding: 0;
    font-size: 1em;
  }
  li {
    margin: 0 auto;
    padding-bottom: 0.25em;
    margin-bottom: 2em;
  }
  button {
    margin-bottom: 0.25em;
  }
  div {
    padding-bottom: 0.25em;
    border-bottom: 2px solid transparent;
  }
  span, p {
    margin: 0 auto;
    padding: 0 auto;
  }
  .title a,
  .title a:active,
  .title a:visited {
    color: var(--primary);
  }
  li:hover div {
    border-bottom: 2px solid var(--hover);
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  li:hover .title {
    color: var(--hover);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    section {
      line-height: 1.2;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      This is a place for random things that don't make sense as a full blog post. Random notes or thoughts, my own homelab documentation, config file templates, etc. This is mostly for my own usage, so it might not be of much use to anyone else.
    </p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <div>
              <a href={`/wiki/${post.id}/`} rel="prefetch-intent" data-umami-event={post.id}>
                <span class="title">{post.data.title}</span>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <p class="tag">
                  <button>{post.data.tag}</button>
                </p>
                <p class="desc">{post.data.description}</p>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
    <hr />
    <BackToTop />
  </section>
</BaseLayout>