---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import WebsiteSchema from '@components/WebsiteSchema.astro';
import { SITE_TITLE } from '@consts';

const { title, description, ogType, ogImage } = Astro.props.frontmatter || Astro.props;
const pageTitle = title === SITE_TITLE ? SITE_TITLE : `${title} | ${SITE_TITLE}`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<script is:inline>
			const savedTheme = localStorage.getItem('theme');
			const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
			
			if (savedTheme === 'dark') {
				document.documentElement.classList.add('dark');
			} else if (savedTheme === 'light') {
				document.documentElement.classList.add('light');
			} else if (systemPrefersDark) {
				document.documentElement.classList.add('dark');
			}
		</script>
		
		<BaseHead title={pageTitle} description={description} ogType={ogType} ogImage={ogImage} />
		<WebsiteSchema />
		<slot name="head" />
		
		<style>
			main {
				margin: 0 auto;
				padding: 0;
				animation: 0.25s fade-in;
			}
			@media screen and (max-width: 1292px) {
				main {
					padding: 0 0.25em;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<slot>
				<p>
					If you're seeing this, something went wrong! Please try <em>reloading the page</em>.
				</p>
			</slot>
		</main>
		<Footer />

		<!-- Track outbound links w/ Umami -->
		<script is:inline type="text/javascript">
			(() => {
				const name = 'outbound-link-click';
				document.querySelectorAll('a').forEach(a => {
				if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
					a.setAttribute('data-umami-event', name);
					a.setAttribute('data-umami-event-url', a.href);
				}
				});
			})();
		</script>
	</body>
</html>