---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <head>
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <style scoped>
    h1 {
      margin-bottom: 0.5em;
    }
    hr {
      margin-top: 1em;
    }
    article {
      margin-top: 2em;
    }
    div {
      display: inline-flex;
      gap: 1em;
      place-items: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      padding: 0 auto;
      text-wrap: auto;
    }
    .date {
      margin: 0 auto;
      padding: 0 auto;
    }
    .description {
      margin: 1.5em auto 1.5em ;
    }
    .last-updated-on {
      margin: 0 0.25em;
    }
    a button {
    background-color: var(--tags);
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 600;
    margin: 0 auto;
    padding: 4px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    font-family: "M Plus Rounded 1c Med";
    }
    li:hover {
      padding-bottom: 0.25em;
      border-bottom: 2px solid var(--hover);
    }
    @media (hover: hover) {
      a:hover button {
        box-shadow: -4px -4px 0 #000;
        transform: translate(4px, 4px);
      }
      a:hover button {
        outline-offset: 1px;
      }
    }
    @media (hover: none) {
      a:hover button {
        background-color: var(--menu);
      }
    }
    form {
      display: flex;
      align-items: center;
    }
    label {
      color: var(--text);
      margin-right: 1em;
    }
    @media screen and (max-width: 667px) {
      h1 {
        font-size: 1.25em;
      }
      div {
        display: grid;
        gap: 1em;
        grid-template-columns: auto auto;
        place-content: start;
        place-items: start;
        margin: 0 auto;
        padding: 0 auto;
      }
      .last-updated-on {
        margin: 0;
      }
      .updated {
        margin: 0;
      }
    }
  </style>

  <article data-pagefind-body>
    <h1 class="title">{title}</h1>
    <hr />
    <div>
      <span class="tag"><a href={`/categories/${tags}`}><button>{tags}</button></a></span>
      <span class="date" data-pagefind-ignore>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              updated
            </div>
            <span class="updated"><FormattedDate date={updatedDate} /></span>
          )
        }
      </span>
    </div>
    <p class="description">
      {description}
    </p>
    <slot>
      <p>
        If you're seeing this, something went wrong! Please try <em
          >reloading the page</em
        >.
      </p>
    </slot>
  </article>
  <hr />
  <aside>
    <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
  </aside>
</BaseLayout>
