---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <head>
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <style scoped>
    h1 {
      margin-bottom: 0.5em;
    }
    article {
      margin-top: 2em;
    }
    .description {
      margin: 1.5em auto;
    }
    .category {
      color: var(--date);
    }
    .tag {
      background-color: var(--primary);
      color: #000;
      border-radius: 0.25em;
      cursor: pointer;
      font-weight: 600;
      padding: 4px 6px;
      margin: 0;
      text-decoration: none;
      text-overflow: ellipsis;
      -webkit-transition: all .10s ease-out;
      -moz-transition: all .10s ease-out;
      -o-transition: all .10s ease-out;
      transition: all .10s ease-out;
      font-family: 'M Plus Rounded 1c Med';
      list-style-type: none;
    }
    .tag a {
      color: #000;
      text-decoration: none;
    }
    .tag:hover {
      background-color: var(--tags);
    }
    form {
      display: flex;
      align-items: center;
    }
    label {
      color: var(--text);
      margin-right: 1em;
    }
    @media screen and (max-width: 667px) {
      h1 {
        font-size: 1.25em;
      }
    }
  </style>

  <article data-pagefind-body>
    <h1 class="title">{title}</h1>
    <div data-pagefind-ignore>
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    <hr />
    <span class="tag"><a href={`/categories/${tags}`}>{tags}</a></span>
    <p class="description">
      {description}
    </p>
    <slot>
      <p>
        If you're seeing this, something went wrong! Please try <em
          >reloading the page</em
        >.
      </p>
    </slot>
  </article>
  <hr />
  <aside>
    <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
  </aside>
</BaseLayout>
