---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import TableOfContents from '@components/TableOfContents.astro';
import BlogPosting from "@components/BlogPosting.astro";
import ScrollProgress from "@components/ScrollProgress.astro";
import ReadingTime from "@components/ReadingTime.astro";
import WebMentions from "@components/WebMentions.astro";
import { Image, inferRemoteSize } from 'astro:assets';
import type { MarkdownHeading } from 'astro';
import {
  BlueskyShareButton,
  ThreadsShareButton,
  TwitterShareButton,
  RedditShareButton,
  HackerNewsShareButton,
  SocialShare
} from "astro-social-share";
import Related from '@icons/related.svg';
import Comments from "@components/Comments.astro";

type Props = CollectionEntry<"blog">['data'] & { headings: MarkdownHeading[]; readingTime: string };

const BUTTONS = [BlueskyShareButton, ThreadsShareButton, TwitterShareButton, RedditShareButton, HackerNewsShareButton]
const { title, description, pubDate, updatedDate, tags, headings, related1, related2, readingTime } = Astro.props;
const { slug } = Astro.params;
const coffeeBtn = 'https://img.buymeacoffee.com/button-api/?slug=arieldiaz&font_family=Inter&coffee_colour=6F4E37';
const { width, height } = await inferRemoteSize(coffeeBtn);
const allPosts = await getCollection("blog");
const relatedPosts = [ related1, related2 ];
const selectedPosts = allPosts.filter(post => 
  relatedPosts.includes(post.id)
);
---
<ScrollProgress />

<BaseLayout title={title} description={description}>  
  <head>
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <style scoped>
    h1 {
      margin-bottom: 0.125em;
      line-height: 1.1;
      font-weight: 800;
    }
    hr {
      margin-top: 1em;
    }
    article {
      margin: 2.5em auto;
    }
    .description {
      margin: 1.5em auto 1.5em ;
    }
    .info {
      display: flex;
      margin: 0.25em 0 -0.25em 0;
      padding: 0;
      place-items: center;
      gap: 0.5em;
      justify-content: left;
    }
    .readingtime {
      display: flex;
      place-items: center;
      margin: -0.375em 0 0 0;
    }
    .updated {
      display: flex;
      place-items: center;
      margin: 0;
      padding: 0;
    }
    .last-updated-on {
      display: inline-flex;
      color: var(--emphasis);
      font-family: var(--sub-font);
      font-size: 0.875em;
      font-weight: 500;
      margin-right: 0.25em;
    }
    .midline {
      margin-bottom: 1.5em;
    }
    .edit-post {
      display: flex;
      justify-content: space-around;
      color: var(--primary);
      font-family: var(--sub-font);
      font-weight: 700;
      margin: 1em auto 2em auto;
    }
    .edit-post span {
      margin: 0 auto;
    }
    .gh {
      width: 24px;
      height: 24px;
      margin: 0;
      padding: 0;
    }
    .edit {
      display: inline-block;
      background-color: var(--info);
      color: #000;
      border-radius: 0.5em;
      cursor: pointer;
      font-weight: 700;
      margin: 0 auto;
      padding: 6px 10px 4px 10px;
      text-decoration: none;
      font-size: 0.85em;
      font-family: var(--sub-font);
      line-height: 1.5;
    }
    .edit img {
      display: inline;
      filter: brightness(0) saturate(100%);
      height: 24px;
      width: auto;
      padding: 0 auto;
      margin: 2px 0 -5px 0;
      border-radius: 0;
      cursor: pointer;
    }
    .post-end {
      font-family: var(--sub-font);
      font-weight: 700;
      margin: 0 auto;
      justify-content: space-around;
    }
    .mid-end {
      display: grid;
      place-items: center;
      grid-template-columns: auto auto;
      font-family: var(--sub-font);
      font-weight: 700;
      margin: 0 auto;
      justify-content: space-around;
    }
    .coffee {
      display: grid;
      color: var(--primary);
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      place-items: center;
      gap: 0;
      margin: 0 auto;
      padding: 0 auto;
      cursor: default;
      height: 115px;
    }
    .coffee-btn {
      display: grid;
      background-color: var(--info);
      border-radius: 0.325em;
      font-family: var(--sub-font);
      color: var(--primary);
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      cursor: pointer;
      padding: 0;
      margin-top: 1em;
    }
    .coffee-btn:hover {
      background: var(--hover);
      transition: all .15s ease-out;
    }
    .share {
      display: grid;
      color: var(--primary);
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      place-items: center;
      gap: 0;
      cursor: default;
      width: 325px;
      height: 130px;
    }
    .umami {
      display: grid;
      color: var(--primary);
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      padding-top: 1em;
      cursor: default;
      width: 325px;
      height: 115px;
      margin-bottom: 1em;
      font-weight: 700;
    }
    .stats {
      display: inline-block;
      background-color: var(--info);
      color: #000;
      border-radius: 0.5em;
      cursor: pointer;
      font-weight: 700;
      margin: 0 auto;
      padding: 1px 10px 0 10px;
      text-decoration: none;
      font-family: var(--sub-font);
    }
    .umami img {
      display: inline;
      filter: brightness(0) saturate(100%);
      height: 24px;
      width: auto;
      padding: 0;
      margin: 0 0 -0.3em 0;
      border-radius: 0;
      cursor: pointer;
    }
    .edit-post a, .stats a, .email a {
      color: #000;
    }
    .email:hover a, .email:focus a {
      color: #000;
      transform: none;
      box-shadow: 0 0 0 0;
    }
    .edit-post a:hover, .stats:hover a {
      color: #000;
      transform: none;
      box-shadow: 0 0 0 0;
    }
    .edit-post button:hover, .mid-end button:hover, .post-end button:hover {
      background: var(--hover);
      transform: none;
      box-shadow: 0 0 0 0;
    }
    .questions {
      display: grid;
      place-items: center;
      grid-template-columns: auto;
      grid-template-rows: auto;
      width: 325px;
      margin-top: 0.75em;
    }
    .questions span {
      font-family: var(--sub-font);
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.65em;
    }
    .email {
      display: inline-flex;
      align-items: center;
      text-align: center;
      border-radius: 0.5em;
      cursor: pointer;
      font-weight: 700;
      margin: 0 auto;
      text-decoration: none;
      font-family: var(--sub-font);
      line-height: 1.5;
      padding-top: 4px;
      padding-bottom: 6px;
      margin-bottom: 1em;
    }
    .email img {
      margin: 1px auto -12px auto;
      width: 25px;
      height: auto;
    }
    .endline {
      margin-top: 0.5em;
      margin-bottom: 1.5em;
    }
    .blog-aside {
      display: inline-flex;
      justify-content: space-between;
      font-size: 1.5em;
      margin: 0 auto 1em auto;
      padding: 0 auto;
      width: 100%;
    }
    .blog-aside button {
      background: var(--primary);
    }
    .related {
      display: inline;
    }
    .related h3 {
      display: flex;
      place-items: center;
      font-size: 1.5em;
      color: var(--primary);
      margin: 1em 0 1em 0;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      border-bottom: thick dotted var(--border);
    }
    .related svg {
      filter: var(--toc);
      margin-left: -0.135em;
      margin-right: 0.1em;
    }
    .related ul {
      list-style-type: none;
      padding: 0;
    }
    .related li {
      border: 2px solid transparent;
      background-color: var(--blockquote);
      color: var(--emphasis);
      padding: 0.75em 1em 0.85em 1em;
      margin: 1em;
      border-radius: 0.5em;
    }
    .related li span {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1.2;
    }
    .related li p {
      color: var(--text);
      font-size: 0.875em;
      margin-top: 0.25em;
      margin-bottom: 0;
      line-height: 1.2;
    }
    .related li button {
      margin: 0 0.5em 0.25em 0;
    }
    .related li:hover {
      color: var(--hover);
      border: 2px solid var(--emphasis);
    }
    @media screen and (min-width: 2108px) {
      .blog-tags, .info, .updated {
        position: absolute;
        left: 2em;
        width: 35%;
        max-width: 35%;
      }
      .blog-tags {
        top: 4.55em;
      }
      .info {
        top: 6em;
      }
      .updated {
        top: 7.55em;
      }
    }
    @media screen and (max-width: 667px) {
      h1 {
        font-size: 1.35em;
      }
      article {
        margin-bottom: 3em;
      }
      .tag button {
        margin: 0 0 0.25em 0;
      }
      .last-updated-on {
        font-size: 18px;
        place-items: center;
      }
      .updated {
        place-items: center;
      }
      .related li {
        font-size: 1em;
        line-height: 1.2;
        padding: 1em 1em 0.85em 1em;
        margin: 1em auto;
      }
      .related li p {
        margin-top: 0;
      }
      .related li button {
        margin: 0 0.25em 0.25em 0;
      }
      .edit-post {        
        justify-content: space-around;
        align-content: center;
      }
      .edit-button::before {
        content: "\a";
        white-space: pre;
      }
      .edit {
        margin-top: 0.65em;
        margin-left: 1.25em;
      }
      .post-end, .mid-end {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        place-items: center;
        margin: 0 auto -0.75em auto;
        gap: 0 0;
      }
      .coffee {
        grid-row: 1;
        grid-column: 1;
        margin: 0.25em auto -0.25em auto;
        width: auto;
      }
      .coffee span {
        margin-bottom: -0.5em;
      }
      .share {
        grid-row: 2;
        grid-column: 1;
        margin: 0 auto -0.675em auto;
        width: auto;
      }
      .umami {
        width: auto;
        margin: 0 auto 0.15em auto;
      }
      .questions {
        width: auto;
        margin: 0 auto 0.75em auto;
      }
      .questions span {
        margin: 1em auto 0 auto;
      }
      .email {
        margin: 1em auto;
      }
    }
  </style>

  <slot name="astro-social-share-css">
    <style is:global>
      .astro-social-share {
        margin: 0 auto 2em auto;
        height: 24px;
        padding: 0.35em 0 0 0;
      }
      .astro-social-share svg {
        filter: var(--share);
        margin: 0 0.25em;
        width: 32px;
        height: 32px;
      }
      .astro-social-share svg:hover {
        filter: var(--svg-hover);
        transition: all .2s ease-out;
      }
    </style>
  </slot>

  <BlogPosting slot="head" {...Astro.props} />

  <article data-pagefind-body>
    <h1>{title}</h1>
    <div class="blog-tags">
      <span class="tag" data-pagefind-ignore>
        {tags.map((tag) => (
          <a href={`/categories/${tag}/`} rel="prefetch-intent" data-umami-event="category-from-article">
            <button>{tag}</button>
          </a>
        ))}
      </span>
    </div>
    <div class="info">
      <span><FormattedDate date={pubDate} /></span>
      <span class="readingtime"><ReadingTime time={readingTime} data-pagefind-ignore /></span>
    </div>
    <p class="updated">
      {
        updatedDate && (
          <span class="last-updated-on">
            Updated&nbsp;
          </span>
            <FormattedDate date={updatedDate} />
        )
      }
    </p>
    <hr />
    <p class="description">
      {description}
    </p>
    <TableOfContents headings={headings} />
    <slot>
      <p>
        If you're seeing this, something went wrong! Please try <em
          >reloading the page</em
        >.
      </p>
    </slot>

    <div class="related" data-pagefind-ignore>
      <h3><Related width={36} height={36}/> Related Posts</h3>
      <ul>
        {selectedPosts.map(post => (
          <a href={`/blog/${post.id}/`} rel="prefetch-intent" data-umami-event={`featured-${post.id}`}>
            <li>
              <span>{post.data.title}</span>
              <div>
                <span class="tag">
                  {post.data.tags.map((tag) => (
                    <button>{tag}</button>
                  ))}
                </span>
              </div>
              <p>{post.data.description}</p>
            </li>
          </a>
        ))}
      </ul>
    </div>

  </article>
  <hr class="midline">
  
  <WebMentions />
  
  <Comments />

  <aside class="edit-post">
    <div>
      <span>
        Error in this article?
      </span>
      <span class="edit-button">
        <button class="edit">
          <a 
          href={`https://github.com/fullmetalbrackets/blog/blob/main/src/content/blog/${slug}.md/`}
          target="_blank" data-umami-event={`edit-gh-${slug}`}>
            <img src="/assets/gh.svg"
              class="gh"
              loading="lazy"
              decoding="async"
              alt="Edit this page on GitHub"> <span>Edit on GitHub</span>
          </a>
        </button>
      </span>
    </div>
  </aside>

  <aside class="mid-end">
    <div class="coffee">
      <span>Was this article helpful?</span>
        <a href="https://www.buymeacoffee.com/arieldiaz">
          <Image
            src={coffeeBtn}
            width={width}
            height={height}
            class="coffee-btn"
            alt="Buy Me A Coffee"
            title="Buy Me A Coffee"
            loading="lazy"
            decoding="async"
          />
        </a>
    </div>
    <div class="share">
      <span>Want to share this article?</span>
      <SocialShare
        buttons={BUTTONS}
        description={description}
        title={title}
      />
    </div>
  </aside>

  <aside class="post-end">
    <div class="umami">
      <span>
        Want to see article stats?
      </span>
      <button class="stats">
        <span>
          <a 
            href={`https://u.adiaz.fyi/share/TtTytHU8rJy0oEzN/?path=eq./blog/${slug}/`}
            target="_blank" data-umami-event={`umami-stats-${slug}`}>
              <img src="/assets/umami.svg"
                class="umami"
                loading="lazy"
                decoding="async"
                alt="Umami Analytics"> Umami
          </a>
        </span>
      </button>
    </div>
    <div class="questions">
      <span>Have any questions?</span>
        <button class="email">
          <a 
            href={`mailto:contact@fullmetalbrackets.com?subject=RE: ${title}`}>
              <img src="/assets/email.svg"
                class="email"
                loading="lazy"
                decoding="async"
                alt="Email"> Email Me
          </a>
        </button>
    </div>
  </aside>

  <hr class="endline" />
  <aside class="blog-aside">
    <a href="/blog/" rel="prefetch-intent" class="top blog-tag"><button>↩ Blog</button></a>
    <a href="/" rel="prefetch-intent" class="top blog-tag home"><button>⟰ Home</button></a>
    <a href="#top" class="top blog-tag"><button>Top ↑</button></a>
  </aside>

  <script is:inline>
    document.querySelectorAll('blockquote').forEach((blockquote) => {
      const firstPara = blockquote.querySelector('p');
      if (firstPara) {
        const text = firstPara.textContent || '';
        const match = text.match(/^\[(\w+)\]\s*/);
        
        if (match) {
          const type = match[1];
          blockquote.setAttribute('data-type', type);
          blockquote.classList.add(`blockquote-${type}`);
          
          const textNode = firstPara.firstChild;
          if (textNode && textNode.nodeType === Node.TEXT_NODE && textNode.textContent) {
            textNode.textContent = textNode.textContent.replace(/^\[(\w+)\]\s*/, '');
          }
        }
      }
    });

    const article = document.querySelector('article');
    if (article) {
      const hr = article.querySelector('hr');
      const description = article.querySelector('.description');
      
      if (hr && description) {
        let tocElement = description.nextElementSibling;

        if (tocElement) {
          const firstContentElement = tocElement.nextElementSibling;

          if (firstContentElement && 
              firstContentElement.tagName === 'BLOCKQUOTE' &&
              firstContentElement.getAttribute('data-type') === 'warning') {
            hr.parentNode.insertBefore(firstContentElement, hr.nextSibling);
          }
        }
      }
    }
  </script>
  <script is:inline>
    function copyToClipboard(copyBtn, text) {
      navigator.clipboard.writeText(text).then(() => {
        copyBtn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>`;
        copyBtn.style.backgroundColor = "var(--hover)";
        setTimeout(() => {
          copyBtn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
          </svg>`;
          copyBtn.style.backgroundColor = "var(--info)";
        }, 2000);
      });
    }
    document.addEventListener("click", (e) => {
      if (!e.target.closest(".copy-btn")) return;
      const copyBtn = e.target.closest(".copy-btn");
      const wrapper = copyBtn.closest(".code-wrapper");
      const code = wrapper.querySelector("pre code");
      copyToClipboard(copyBtn, code.innerText);
    });
  </script>
</BaseLayout>