---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<link rel="stylesheet" href="../../prism.css">
		<style>
			article {
				padding-top: 1em;
			}
			hr {
				border-top: 0.5px solid hsl(316, 99%, 50%);
				opacity: 0.5;
				margin-bottom: 3em;
			}
			h3 {
				margin-top: 5em;
			}
			.title {
				font-size: 2em;
				margin: 0.25em 0 0.25em;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>