---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { generateTagsData } from "../utils/tags";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		tags?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, tags },
} = Astro.props;
const allTagsData = generateTagsData(tags);
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<link rel="stylesheet" href="../../prism.css">
		<style>
			article {
				padding-top: 1.9em;
			}
			hr {
				margin: 1em 0 3em 0;
			}
			.title {
				font-size: 2em;
				margin: 0.75em 0;
				line-height: 40px;
			}
			ol, ul {
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;
				margin: 0 auto;
				margin-top: 10px;
				padding: 0;
			}
			li {
				margin: 4px;
				padding: 2px 4px;
				background: var(--lightpink);
				color: #000;
				font-weight: bold;
				border-radius: 0.25em;
				list-style-type: none;
			}
			li:hover {
				background: var(--pink);
			}
			aside {
				display: flex;
				justify-content: space-between;
				cursor: pointer;
				border-style: none;
				margin: 4em auto 0 auto;
			}
			aside > a, a:active, a:visited {
				color: var(--pink);
			}
			aside > a:hover {
				color: var(--lightpink);
			}
			span {
				color: var(--lightpink);
			}
			label {
				color: var(--text);
			}
			button {
				margin-left: 5px;
				background: var(--pink);
				color: #000;
				font-weight: 900;
				border-radius: 0.25em;
			}
			button:hover {
				background: var(--lightpink);
				cursor: pointer;
			}
			.top {
				font-size: 2rem;
				font-family: 'Streamster';
				font-weight: 700;
			}
			@media screen and (min-width: 200px) and (max-width: 767px) {
				article {
					padding-top: 0.9em;
				}
				a, a:active, a:visited, a:hover {
					font-size: 1em;
				}
				.title {
					font-size: 32px;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Updated on <time>{updatedDate}</time></div>}
				<h1 class="title">{title}</h1>
				<ul>
					{allTagsData.map(tags => (
						<a href={`/blog/tags/${tags.slug}`}><li>{tags.name}</li></a>
					))}
				</ul>
				<hr>
				<slot />
			</article>
			<aside>
				<span>Was this article helpful?
				<form name="feedback" method="POST" action="/feedback" data-netlify="true" netlify-honeypot="bot-field">
          <input value="feedback" name="form-name" type="hidden" />
					<input type="radio" id="yes" name="feedback" value="Helpful">
					<label for="yes">Yes</label>
					<input type="radio" id="no" name="feedback" value="Not Helpful">
					<label for="no">No</label>
          <button class="button" type="submit" value="Submit">Submit</button>
					<input type="hidden" id="post.frontmatter.title" name="post.frontmatter.title" value="{post.frontmatter.title}" />
        </form>
				</span>
				<a href="#top" class="top">Back to Top</a>
			</aside>
			<hr>
		</main>
		<Footer />
	</body>
</html>