---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import TableOfContents from '@components/TableOfContents.astro';
import BlogPosting from "@components/BlogPosting.astro";
import ScrollProgress from "@components/ScrollProgress.astro";
import { SocialShare } from "astro-social-share";
import type { MarkdownHeading } from 'astro';

type Props = CollectionEntry<"blog">['data'] & { headings: MarkdownHeading[] };

const { title, description, pubDate, updatedDate, tags, headings } = Astro.props;

const { slug } = Astro.params;
---

<BaseLayout title={title} description={description}>
  <head>
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <style scoped>
    h1 {
      margin-bottom: 0.5em;
      line-height: 1.1;
    }
    hr {
      margin-top: 1em;
    }
    article {
      margin: 2em auto;
    }
    div {
      display: inline-flex;
      gap: 1em;
      place-items: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      padding: 0 auto;
      text-wrap: auto;
    }
    .description {
      margin: 1.5em auto 1.5em ;
    }
    .last-updated-on {
      font-size: 0.85em;
      margin: 0 0.25em;
    }
    .updated {
      font-size: 1em;
    }
    button {
      background-color: var(--info);
      text-overflow: ellipsis;
      -webkit-transition: all .10s ease-out;
      -moz-transition: all .10s ease-out;
      -o-transition: all .10s ease-out;
      transition: all .10s ease-out;
      cursor: pointer;
    }
    .top {
      font-size: 0.75em;
    }
    li:hover {
      padding-bottom: 0.25em;
      border-bottom: 2px solid var(--hover);
    }
    form {
      display: flex;
      align-items: center;
    }
    label {
      color: var(--text);
      margin-right: 1em;
    }
    .edit-post {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-columns: auto;
      place-items: center;
      justify-content: space-around;
      color: var(--primary);
      font-family: "M Plus Rounded 1c Med";
      margin: 1em 1em 2em 1em;
    }
    .edit-post span {
      margin: 0 auto;
    }
    .gh {
      width: 24px;
      height: 24px;
      margin: 0;
      padding: 0;
    }
    .edit {
      display: inline-block;
      background-color: var(--info);
      color: #000;
      border-radius: 0.5em;
      cursor: pointer;
      font-weight: 600;
      margin: 0 auto;
      padding: 6px 10px;
      text-decoration: none;
      font-size: 0.85em;
      font-family: 'M Plus Rounded 1c Med';
      line-height: 1.5;
    }
    .edit img {
      display: inline;
      filter: brightness(0) saturate(100%);
      height: 24px;
      width: auto;
      padding: 0 auto;
      margin: 2px 0 -5px 0;
      border-radius: 0;
      cursor: pointer;
    }
    .post-end {
      font-family: "M Plus Rounded 1c Med";
      margin: 0 auto 2em auto;
      justify-content: space-around;
    }
    .coffee {
      display: grid;
      color: var(--primary);
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      place-items: center;
      gap: 0;
      margin: 0 auto;
      padding: 0 auto;
      cursor: default;
      height: 115px;
    }
    .coffee-btn {
      display: grid;
      background-color: var(--info);
      border-radius: 0.25em;
      font-family: 'M Plus Rounded 1c Med';
      color: var(--primary);
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      cursor: pointer;
      padding: 0;
      margin-top: 1em;
    }
    .coffee-btn:hover {
      background: var(--menu);
    }
    .share {
      display: grid;
      color: var(--primary);
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      place-items: center;
      gap: 0;
      cursor: default;
      width: 325px;
      height: 130px;
    }
    .umami {
      display: grid;
      color: var(--primary);
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      padding-top: 0.3em;
      cursor: default;
      width: 325px;
      height: 115px;
    }
    .stats {
      display: inline-block;
      background-color: var(--info);
      color: #000;
      border-radius: 0.5em;
      cursor: pointer;
      font-weight: 600;
      margin: -0.75em auto 0 auto;
      padding: 6px 10px;
      text-decoration: none;
      font-family: 'M Plus Rounded 1c Med';
      line-height: 1.5;
    }
    .umami img {
      display: inline;
      filter: brightness(0) saturate(100%);
      height: 24px;
      width: auto;
      padding: 0 auto;
      margin: 0 0 -3px 0;
      border-radius: 0;
      cursor: pointer;
    }
    .edit-post a, .stats a, .email a {
      color: #000;
    }
    .email:hover a, .email:focus a {
      color: #000;
    }
    .edit-post a:hover, .stats:hover a {
      color: #000;
    }
    .questions {
      display: grid;
      place-items: center;
      grid-template-columns: auto;
      grid-template-rows: auto;
      width: 325px;
    }
    .questions span {
      font-family: "M Plus Rounded 1c Med";
      color: var(--primary);
    }
    .email {
      display: inline-flex;
      align-items: center;
      text-align: center;
      border-radius: 0.5em;
      cursor: pointer;
      font-weight: 600;
      margin: 0 auto;
      text-decoration: none;
      font-family: 'M Plus Rounded 1c Med';
      line-height: 1.5;
      padding-top: 4px;
      padding-bottom: 6px;
    }
    .email img {
      margin: 1px auto -12px auto;
      width: 25px;
      height: auto;
    }
    button:hover {
      background: var(--menu);
    }
    @media screen and (max-width: 900px) {
      .post-end {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        place-items: center;
        gap: 0;
      }
      .share {
        grid-row: 1;
        grid-column: 2;
      }
    }
    @media screen and (max-width: 720px) {
      h1 {
        font-size: 1.35em;
      }
      article {
        margin-bottom: 3em;
      }
      div {
        display: grid;
        gap: 1em;
        grid-template-columns: auto auto;
        place-content: start;
        place-items: start;
        margin: 0 auto;
        padding: 0 auto;
      }
      .last-updated-on {
        margin: 0;
      }
      .updated {
        margin: 0;
      }
      .edit-post {
        justify-content: space-around;
        place-items: center;
        margin-bottom: 3em;
        gap: 0 0;
        padding-left: 18px;
      }
      .edit-post span {
        font-size: 0.9em;
        grid-row: 1;
        grid-column: 1;
        width: auto;
      }
      .edit {
        grid-row: 2;
        grid-column: 1;
        width: auto;
        max-width: 10em;
        line-height: 1.325;
      }
      .post-end {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        place-items: center;
        margin: 0 auto 0.25em auto;
        gap: 0 0;
      }
      .coffee {
        grid-row: 1;
        grid-column: 1;
        margin: -1em auto 0.5em auto;
        width: auto;
      }
      .share {
        grid-row: 2;
        grid-column: 1;
        margin: 0 auto;
        width: auto;
      }
      .umami {
        width: auto;
        margin: 0 auto 1em auto;
      }
      .questions {
        width: auto;
        margin: 0.5em auto 1em auto;
      }
    }
    </style>

<slot name="astro-social-share-css">
    <style is:global>
      .astro-social-share {
        margin: 0 auto 2em auto;
        height: 24px;
        padding: 0.5em 0 0 0;
      }
      .astro-social-share svg {
        filter: var(--share);
      }
      .astro-social-share svg:hover {
        filter: var(--coffee-hover);
      }
    </style>
  </slot>
  <BlogPosting slot="head" {...Astro.props} />
  <ScrollProgress />
  <article data-pagefind-body>
    <h1 class="title">{title}</h1>
    <hr />
    <div>
      <span class="tag"><a href={`/categories/${tags}`} data-umami-event="category-from-article"><button>{tags}</button></a></span>
      <span class="date" data-pagefind-ignore>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              updated
            </div>
            <span class="updated"><FormattedDate date={updatedDate} /></span>
          )
        }
      </span>
    </div>
    <p class="description">
      {description}
    </p>
    <TableOfContents headings={headings} />
    <slot>
      <p>
        If you're seeing this, something went wrong! Please try <em
          >reloading the page</em
        >.
      </p>
    </slot>
  </article>
  <aside class="edit-post">
    <div>
      <span>
        Error in this article?
      </span>
      <button class="edit">
        <span>
          <a 
          href={`https://github.com/fullmetalbrackets/blog/blob/main/src/content/blog/${slug}.md/`}
          target="_blank" data-umami-event={`edit-gh-${slug}`}>
            <img src="/assets/gh.svg"
              class="gh"
              loading="lazy"
              decoding="async"
              alt="Edit this page on GitHub"> <span>Edit on GitHub</span>
          </a>
        </span>
      </button>
    </div>
  </aside>

  <aside class="post-end">
    <div class="coffee">
      <span>Was this article helpful?</span>
        <a href="https://www.buymeacoffee.com/arieldiaz">
          <img src="https://img.buymeacoffee.com/button-api/?slug=arieldiaz&font_family=Lato&coffee_colour=ffffff" class="coffee-btn" alt="Buy Me A Coffee" title="Buy Me A Coffee" loading="eager" decoding="async" />
        </a>
    </div>
    <div class="share">
      <span>Want to share this article?</span>
      <SocialShare
      description={description}
      title={title}
    />
    </div>
  </aside>

  <aside class="post-end">
    <div class="umami">
      <span>
        Want to see article stats?
      </span>
      <button class="stats">
        <span>
          <a 
            href={`https://cloud.umami.is/analytics/us/share/5MdOgBcRzVP6FU0x/fullmetalbrackets.com?path=eq./blog/${slug}/`}
            target="_blank" data-umami-event={`umami-stats-${slug}`}>
              <img src="/assets/umami.svg"
                class="umami"
                loading="lazy"
                decoding="async"
                alt="Umami Analytics"> Umami
          </a>
        </span>
      </button>
    </div>
    <div class="questions">
      <span>Have any questions?</span>
        <button class="email">
          <a 
            href={`mailto:contact@fullmetalbrackets.com?subject=RE: ${title}`}>
              <img src="/assets/email.svg"
                class="email"
                loading="lazy"
                decoding="async"
                alt="Email"> Email Me
          </a>
        </button>
    </div>
  </aside>
  <hr />
  <aside class="blog-aside">
    <a href="/blog" class="top button blog-tag">&larr; Blog</a>
    <a href="/" class="top button blog-tag home">&#8626; Home</a>
    <a href="#top" class="top button blog-tag">Top &uarr;</a>
  </aside>
</BaseLayout>
